<h1> login </h1>
<h2>{{message}}</h2>
<form id="loginform" method="post" class="login-form" action="/login/">
  {% csrf_token %}
  <div class="login-form-input-div">
      <input type="text" id="email" name="email" class="form-control login-form-input" placeholder="Email" />
  </div>
  <div class="login-form-input-border">
      <input type="password" id="password" name="password" class="form-control login-form-input" placeholder="Password" />
  </div>
  <div>
      <input type="submit" value="Sign in" class="submit login-form-button">
  </div>
  <div class="clearfix"></div>
</form>
