{% extends './base.html' %}

{% block content %}

  <form class="form-horizontal" role="form">
    <fieldset>
<h1 style="color:orange">Sales Rate Request</h1>
      <br>
      <div class="container">
        <!-- Text input-->

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="sales_person">Sales Person</label>
            <div class="col-sm-2">
              <input id="sales_person" name="sales_person" type="text" placeholder="" class="form-control">
            </div>
            <label class="col-sm-2 control-label" for="date">Date</label>
            <div class="col-sm-2">
              <input id="date" name="date" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="op_person">OP Person</label>
            <div class="col-sm-2">
              <input id="op_person" name="op_person" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <br><br>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="client_name">Client Name</label>
            <div class="col-sm-2">
              <input id="client_name" name="client_name" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <br><br>


        <h4 class="text-primary">Details:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="company_name">Company Name</label>
            <div class="col-sm-2">
              <input id="company_name" name="company_name" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="contact">Contact</label>
            <div class="col-sm-2">
              <input id="contact" name="contact" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="phone">Phone</label>
            <div class="col-sm-2">
              <input id="phone" name="phone" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="email">E-mail</label>
            <div class="col-sm-2">
              <input id="email" name="email" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
            <div class="col-sm-2">
              <input id="extra_info" name="extra_info" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="payment_term">Payment Term</label>
            <div class="col-sm-2">
              <input id="payment_term" name="payment_term" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

       <br><br>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="commodity">Commodity</label>
            <div class="col-sm-2">
              <input id="commodity" name="commodity" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <br><br>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="port_of_discharge">Destination</label>
            <div class="col-sm-2">
              <input id="port_of_discharge" name="port_of_discharge" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <br><br>

        <h4 class="text-primary">Required Delivery Time:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="delivery_time">Within</label>
            <div class="col-sm-2">
              <input id="delivery_time" name="delivery_time" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <br><br>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="contact_person">Contact Person</label>
            <div class="col-sm-2">
              <input id="contact_person" name="contact_person" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="contact_person_extra">Contact Person (extra)</label>
            <div class="col-sm-2">
              <input id="contact_person_extra" name="contact_person_extra" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <br><br>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="special_instructions">Special Instructions</label>
            <div class="col-sm-4">
              <textarea class="form-control" id="special_instructions" name="special_instructions"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="delivery_details">Delivery Details</label>
            <div class="col-sm-2">
              <input id="delivery_details" name="delivery_details" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <br><br>

        <h4 class="text-primary">Shipment Type:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="shipment_type">Export or Import(air/sea/cc/lcl)</label>
            <div class="col-sm-2">
              <input id="shipment_type" name="shipment_type" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <br><br>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="quantity">Quantity</label>
            <div class="col-sm-2">
              <input id="quantity" name="quantity" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="dimension">Dimension</label>
            <div class="col-sm-2">
              <input id="dimension" name="dimension" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="weight">Weight</label>
            <div class="col-sm-2">
              <input id="weight" name="weight" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <br><br>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="shipment_term">Shipment Term</label>
            <div class="col-sm-2">
              <input id="shipment_term" name="shipment_term" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>
      </fieldset>
       <input type="submit" value="Submit">
    </form>
{% endblock %}
