{% extends './base.html' %}

{% block content %}
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">Quotation-LCL</div>
								<div class="panel-body">
                    <form class="form-horizontal" role="form" method="post" action="/quotation/new/">
                      <fieldset>
                        <br>
                          <!-- Text input-->
                          {% csrf_token %}
                          <input type="hidden" name="type" value="LCL">
													<input type="hidden" name="rate_request" value="{{rate_request.id}}">

													<div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="client_name">Client Name</label>
                              <div class="col-sm-2 control-label">
                            		<p>{{ rate_request.client.client_name }}</p>
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Details:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="company_name">Company Name</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ rate_request.client.client_name }}</p>
                              </div>
                            </div>
                          </div>


                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="contact">Contact</label>
                              <div class="col-sm-2 control-label">
                               <p>{{ rate_request.client.client_name }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="phone">Phone</label>
                              <div class="col-sm-2 control-label">
                         				<p>{{ rate_request.client.business_phone }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="email">E-mail</label>
                              <div class="col-sm-2 control-label">
                             		<p>{{ rate_request.client.email }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ rate_request.client.extra_information }}</p>
                              </div>
                            </div>
                          </div>
													<hr/>
                          <h4 class="text-primary">Destination:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="port_of_loading">Port of Loading</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ rate_request.destination.port_of_loading }}</p>
                              </div>
                              <label class="col-sm-2 control-label" for="location_type_loading">Location Type</label>
                              <div class="col-sm-2 control-label">
                               	<p>{{ rate_request.destination.loading_location_type }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="port_of_discharge">Port of Discharge</label>
                              <div class="col-sm-2 control-label">
                             		<p>{{ rate_request.destination.port_of_discharge }}</p>
                              </div>
                              <label class="col-sm-2 control-label" for="location_type_discharge">Location Type</label>
                              <div class="col-sm-2 control-label">
	                            	<p>{{ rate_request.destination.discharge_location_type }}</p>
                              </div>
                            </div>
                          </div>

                          <hr/><br/>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="agent_details">Agent Details</label>
                              <div class="col-sm-2">
                                <input id="agent_details" name="agent_details" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="co_loader">Co-Loader</label>
                              <div class="col-sm-2">
                                <input id="coloader" name="co_loader" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <br/><hr/>


                          <h4 class="text-primary">Cargo Details:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="shipping_line">Shipping Line</label>
                              <div class="col-sm-2">
																<select class=" form-control" name="shipping_line">
																	{% for shipping_line in shipping_lines %}
																	<option value="{{ shipping_line.id }}">{{ shipping_line.name }}</option>
																	{% endfor %}
																</select>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="container_type">Container Type</label>
                              <div class="col-sm-2">
                                <input id="container_type" name="container_type" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="no_of_packages">Number of Packages</label>
                              <div class="col-sm-2">
                                <input id="number_of_packages" name="number_of_packages" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="commodity">Commodity</label>
                              <div class="col-sm-2">
                                <input id="commodity" name="commodity" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="gross_weight">Gross Weight</label>
                              <div class="col-sm-2">
                                <input id="gross_weight" name="gross_weight" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="net_weight">Net Weight</label>
                              <div class="col-sm-2">
                                <input id="net_weight" name="net_weight" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="dimensions_cbm">Dimensions/CBM</label>
                              <div class="col-sm-2">
                                <input id="dimensions_cbm" name="dimensions_cbm" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <hr/>

                          <div class ="row">
                            <h4 class="text-primary col-sm-1">Quotation:</h4>
                            <label class="col-sm-2 control-label" for="">Net Cost</label>
                            <label class="col-sm-2 control-label" for="">Selling</label>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="ocean_freight">OCEAN FREIGHT</label>
                              <div class="col-sm-2">
                                <input id="ocean_freight" name="ocean_freight_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="ocean_freight" name="ocean_freight_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="thc">T.H.C</label>
                              <div class="col-sm-2">
                                <input id="thc" name="thc_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="thc" name="thc_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="transportation">TRANSPORTATION</label>
                              <div class="col-sm-2">
                                <input id="transportation" name="transportation_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="transportation" name="transportation_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="transfer">TRANSFER</label>
                              <div class="col-sm-2">
                                <input id="transfer" name="transfer_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="transfer" name="transfer_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="clearance_pol">CLEARANCE/P.O.L</label>
                              <div class="col-sm-2">
                                <input id="clearance_pol" name="clearance_pol_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="clearance_pol" name="clearance_pol_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="clearance_pod">CLEARANCE/P.O.D</label>
                              <div class="col-sm-2">
                                <input id="clearance_pod" name="clearance_pod_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="clearance_pod" name="clearance_pod_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="bl_fees">B/L FEES</label>
                              <div class="col-sm-2">
                                <input id="bl_fees" name="bl_fees_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="bl_fees" name="bl_fees_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="telex_release">TELEX RELEASE</label>
                              <div class="col-sm-2">
                                <input id="telex_release" name="telex_release_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="telex_release" name="telex_release_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="ex_work">EX-WORK</label>
                              <div class="col-sm-2">
                                <input id="exwork" name="exwork_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="ex_work" name="ex_work_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="official_receipts">OFFICIAL RECEIPTS</label>
                              <div class="col-sm-2">
                                <input id="official_receipts" name="official_receipts_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="official_receipts" name="official_receipts_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <hr/>

                          <h4 class="text-primary">Extra Notes:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="free_time_destination">Free Time at Destination</label>
                              <div class="col-sm-2">
                                <input id="free_time_at_destination" name="free_time_at_destination" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="vessels_available">Vessels Available</label>
                              <div class="col-sm-2">
                                <input id="vessels_available" name="vessels_available" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="route">Route</label>
                              <div class="col-sm-2">
                                <input id="route" name="route" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="transit_time">Transit Time</label>
                              <div class="col-sm-2">
                                <input id="transit_time" name="transit_time" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>



                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="offer_validity">Offer Validity</label>
                              <div class="col-sm-2">
                                <input id="offer_validity" name="offer_validity" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>



                          <br><br>


                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="special_instructions">Special Instructions</label>
                              <div class="col-sm-4">
                                <textarea class="form-control" id="special_instructions" name="special_instructions"></textarea>
                              </div>
                            </div>
                          </div>


                        </fieldset>
                         <input type="submit" value="Submit">
                      </form>
                </div>
              </div>
            </div>
     {% endblock %}
