{% extends './base.html' %}

{% block content %}
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">{{type}} Rate Request</div>
								<div class="panel-body">

                    <form class="form-horizontal" role="form" method="post" action="/rate_request/new/">
                      <fieldset>
                        {% csrf_token %}
                        <br>
                          <!-- Text input-->
                          <input type="hidden" name="type" value="{{type}}">

                          <div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="client">Client</label>
															<div class="col-sm-2">
																<select id="client_select" class=" form-control" name="client">
																	{% for client in clients %}
																	<option value="{{ client.id }}">{{ client.client_name }}</option>
																	{% endfor %}
																</select>
																<!-- <input id="client_name" name="client_name" type="text" placeholder="" class="form-control"> -->
															</div>
														</div>
													</div>

													<hr/>
													<h4 class="text-primary">Details:</h4>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="company_name">Company Name</label>
															<div class="col-sm-2">
																<input disabled id="company_name" name="company_name" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>


													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="contact">Contact</label>
															<div class="col-sm-2">
																<input disabled id="contact" name="contact" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="phone">Phone</label>
															<div class="col-sm-2">
																<input disabled id="phone" name="phone" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="email">E-mail</label>
															<div class="col-sm-2">
																<input disabled id="email" name="email" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>
													<hr/>

													<h4 class="text-primary">Destination:</h4>

														<div class="form-group">
															<div class="row">
																<label class="col-sm-2 control-label" for="receipt_place">Place Of Receipt</label>
																<div class="col-sm-2">
																	<input id="receipt_place" name="receipt_place" type="text" placeholder="" class="form-control">
																</div>
															</div>
														</div>

														<div class="form-group">
															<div class="row">
																<label class="col-sm-2 control-label" for="port_of_loading">Port of Loading</label>
																<div class="col-sm-2">
																	<input id="port_of_loading" name="port_of_loading" type="text" placeholder="" class="form-control">
																</div>
															</div>
														</div>

														<div class="form-group">
															<div class="row">
																<label class="col-sm-2 control-label" for="port_of_discharge">Port of Discharge</label>
																<div class="col-sm-2">
																	<input id="port_of_discharge" name="port_of_discharge" type="text" placeholder="" class="form-control">
																</div>
															</div>
														</div>


													<hr/>

                          <h4 class="text-primary">Final Delivery Destination:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="address">Address</label>
                              <div class="col-sm-2">
                                <input id="address" name="address" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="contact_person">Contact Person</label>
                              <div class="col-sm-2">
                                <input id="contact_person" name="contact_person" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="contact_person_extra">Contact Person (extra)</label>
                              <div class="col-sm-2">
                                <input id="contact_person_extra" name="contact_person_extra" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Cargo Details:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="quantity">Quantity</label>
                              <div class="col-sm-2">
                                <input id="quantity" name="quantity" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="commodity">Commodity</label>
                              <div class="col-sm-2">
                                <input id="commodity" name="commodity" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="container_type">Container Type</label>
															<div class="col-sm-2">
																<select id="container_type" name="container_type" class="form-control">
																	<option value="20STD">20' STD</option>
																	<option value="40STF">40' STD</option>
																	<option value="40HC">40' HC</option>
																</select>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="special_equipment">Special Equipment</label>
															<div class="col-sm-2">
																<select id="special_equipment" name="special_equipment" class="form-control">
																	<option value="20RF">20' RF</option>
																	<option value="40RF">40' RF</option>
																	<option value="20OT">20' OT</option>
																	<option value="40OT">40' OT</option>
																	<option value="20FR">20' FR</option>
																	<option value="40FR">40' FR</option>
																</select>
															</div>
														</div>
													</div>
													{% if type == 'IFCL'%}
                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="gross_weight">Gross Weight</label>
                              <div class="col-sm-2">
                                <input id="gross_weight" name="gross_weight" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="net_weight">Tare Weight</label>
                              <div class="col-sm-2">
                                <input id="net_weight" name="tare_weight" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>
													{% endif %}

													<hr/>

                          <h4 class="text-primary">Shipping-Line:</h4>

													<div class="form-group">
														<div class="row">
															<div class="col-sm-2">
															<label class=" control-label" for="preferred">Preferred</label>

																<select class=" form-control" name="preferred_shipping_line">
																	{% for shipping_line in shipping_lines %}
																	<option value="{{ shipping_line.id }}">{{ shipping_line.name }}</option>
																	{% endfor %}
																</select>
															</div>
															<div class="col-sm-2">
															<label class=" control-label" for="other_shipping_line">Other</label>

																<select class=" form-control" name="other_shipping_line">
																	{% for shipping_line in shipping_lines %}
																	<option value="{{ shipping_line.id }}">{{ shipping_line.name }}</option>
																	{% endfor %}
																</select>
															</div>
														</div>
													</div>

													<hr/>

                          <h4 class="text-primary">Imo Class:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="hazardous">Hazardous</label>
                              <div class="col-sm-2">
                                <input id="hazardous" name="hazardous" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="non_hazardous">Non-Hazardous</label>
                              <div class="col-sm-2">
                                <input id="non_hazardous" name="non_hazardous" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													<hr/>

													<h4 class="text-primary">Term of Shipment:</h4>
													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="client">Term</label>
															<div class="col-sm-2">
																<select id="shipment_term" name="shipment_term" class="form-control">
																	<option value="EX">Ex-Work</option>
																	<option value="DAP">D.A.P</option>
																	<option value="DDU">D.D.U</option>
																	<option value="DDP">D.D.P</option>
																	<option value="FCA">F.C.A</option>
																	<option value="FOB">F.O.B</option>
																	<option value="CF">C & F</option>
																	<option value="CIF">C.I.F</option>
																	<option value="OTH">Other</option>
																</select>
															</div>
														</div>
													</div>

													<h4 class="text-primary">Shipping Terms:</h4>
													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="shipping_terms">Term</label>
															<div class="col-sm-2">
																<select id="shipping_terms" name="shipping_terms" class="form-control">
																	<option value="FILO">FILO</option>
																	<option value="FIOS">FIOS</option>
																	<option value="FIFO">FIFO</option>
																	<option value="LIFO">LIFO</option>
																	<option value="FLT">FLT</option>
																</select>
															</div>
														</div>
													</div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="special_instructions">Special Instructions</label>
                              <div class="col-sm-4">
                                <textarea class="form-control" id="special_instructions" name="special_instructions"></textarea>
                              </div>
                            </div>
                          </div>

													<hr/>

                        </fieldset>
                         <input type="submit" value="Submit">
                      </form>
                  </div>
						</div>
					</div>
		{% endblock %}

		{% block extra_script%}
		<script type="text/javascript">
			$("#client_select").change(function () {
		     var optionSelected = $(this).find("option:selected");
		     var valueSelected  = optionSelected.val();
		     var textSelected   = optionSelected.text();
				 $.ajax({
					 url : "/clientSelectHandler/",
					 type : "GET",
					 data : {"id" : valueSelected},
					 dataType : "json",
					 success : function(client_data){
						 $('#company_name').val(client_data.company_name);
						 $('#phone').val(client_data.phone);
						 $('#contact').val(client_data.contact);
						 $('#extra_info').val(client_data.extra_info);
						 $('#email').val(client_data.email);
					 }
				 });
		  });
			$("select:not(#client_select)").prepend("<option value=''>N/A</option>").val('');
		</script>
		{% endblock %}
