{% extends './base.html' %}

{% block content %}
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<span>Air-Freight Rate Request</span>
									<a href="/rate_request/{{rate_request.id}}/delete/" id="show" class="btn btn-danger pull-right"> Delete Rate Request </a>
									{% if user.role == 'AD' or user.role == 'OP'%}
									<a href="/rate_request/{{rate_request.id}}/quotation/aif/new/"
									class="btn btn-default pull-right" style="margin-right:5px;">Create Quotation</a>
									{% endif %}
								</div>
								<div class="panel-body">

                  <form class="form-horizontal" role="form" method="post" action="/rate_request/new/">
                    <fieldset>
                      {% csrf_token %}
                      <!-- <h1 style="color:orange">Air-Freight Rate Request</h1> -->
                      <br>
                        <!-- Text input-->
                        <input type="hidden" name="type" value="AIF">


                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="client_name">Client Name</label>
                            <div class="col-sm-2">
                           	<p>{{ rate_request.client.client_name }}</p>
                            </div>
                          </div>
                        </div>


                        <h4 class="text-primary">Details:</h4>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="company_name">Company Name</label>
                            <div class="col-sm-2">
                              <p>{{ rate_request.client.client_name }}</p>
                            </div>
                          </div>
                        </div>


                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="contact">Contact</label>
                            <div class="col-sm-2">
                            <p>{{ rate_request.client.client_name }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="phone">Phone</label>
                            <div class="col-sm-2">
                              <p>{{ rate_request.client.business_phone }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="email">E-mail</label>
                            <div class="col-sm-2">
                              <p>{{ rate_request.client.email }}</p>
                            </div>
                          </div>
                        </div>

                        <h4 class="text-primary">Destination:</h4>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="port_of_loading">Port of Loading</label>
                            <div class="col-sm-2">
                             <p>{{ rate_request.destination.port_of_loading }}</p>
                            </div>
                            <label class="col-sm-2 control-label" for="location_type_loading">Location Type</label>
                            <div class="col-sm-2">
                             <p>{{ rate_request.destination.loading_location_type }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="port_of_discharge">Port of Discharge</label>
                            <div class="col-sm-2">
                           <p>{{ rate_request.destination.port_of_discharge }}</p>
                            </div>
                            <label class="col-sm-2 control-label" for="location_type_discharge">Location Type</label>
                            <div class="col-sm-2">
                            <p>{{ rate_request.destination.discharge_location_type }}</p>
                            </div>
                          </div>
                        </div>

                        <h4 class="text-primary">Final Delivery Destination:</h4>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="address">Address</label>
                            <div class="col-sm-2">
                              <p>{{ rate_request.final_delivery_destination.address }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="contact_person">Contact Person</label>
                            <div class="col-sm-2">
                           <p>{{ rate_request.final_delivery_destination.contact_person }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="contact_person_extra">Contact Person (extra)</label>
                            <div class="col-sm-2">
                              <p>{{ rate_request.final_delivery_destination.contact_person_extra }}</p>
                            </div>
                          </div>
                        </div>

                        <h4 class="text-primary">Required Delivery Time:</h4>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="delivery_time">Within</label>
                            <div class="col-sm-2">
                            <p>{{ rate_request.required_delivery_time_within }}</p>
                            </div>
                          </div>
                        </div>

                        <h4 class="text-primary">Cargo Details:</h4>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="quantity">Quantity</label>
                            <div class="col-sm-2">
                            <p>{{ rate_request.aif_cargo_details.quantity }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="commodity">Commodity</label>
                            <div class="col-sm-2">
                              <p>{{ rate_request.aif_cargo_details.commodity }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="gross_weight">Gross Weight</label>
                            <div class="col-sm-2">
                             <p>{{ rate_request.aif_cargo_details.gross_weight }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="net_weight">Net Weight</label>
                            <div class="col-sm-2">
                             <p>{{ rate_request.aif_cargo_details.net_weight }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="pieces">Pieces</label>
                            <div class="col-sm-2">
                            <p>{{ rate_request.aif_cargo_details.pieces }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="packing">Packing</label>
                            <div class="col-sm-2">
                         			<p>{{ rate_request.aif_cargo_details.packing }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="dimensions">Dimensions</label>
                            <div class="col-sm-2">
                              <p>{{ rate_request.aif_cargo_details.dimensions }}</p>
                            </div>
                          </div>
                        </div>

                        <h4 class="text-primary">Air-Line:</h4>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="preferred">Preferred</label>
                            <div class="col-sm-2">
                            <p>{{ rate_request.shipping_line.prefered }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="any">Any</label>
                            <div class="col-sm-2">
                           <p>{{ rate_request.shipping_line.any }}</p>
                            </div>
                          </div>
                        </div>

                        <h4 class="text-primary">Imo Class:</h4>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="hazardous">Hazardous</label>
                            <div class="col-sm-2">
                              <p>{{ rate_request.imo_class.hazardous }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="non_hazardous">Non-Hazardous</label>
                            <div class="col-sm-2">
                              <p>{{ rate_request.imo_class.non_hazardous }}</p>
                            </div>
                          </div>
                        </div>

                        <h4 class="text-primary">Shipment Term:</h4>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="ex_work">Ex-work</label>
                            <div class="col-sm-2">
                           <p>{{ rate_request.shipment_term.ex_work }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="fas">F.A.S</label>
                            <div class="col-sm-2">
                              <p>{{ rate_request.shipment_term.fas }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="fob">F.O.B</label>
                            <div class="col-sm-2">
                             <p>{{ rate_request.shipment_term.fob }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="cnf">C&F</label>
                            <div class="col-sm-2">
                             <p>{{ rate_request.shipment_term.cf }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="cif">C.I.F</label>
                            <div class="col-sm-2">
                             <p>{{ rate_request.shipment_term.cif }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="others">Others</label>
                            <div class="col-sm-2">
                              <p>{{ rate_request.shipment_term.others }}</p>
                            </div>
                          </div>
                        </div>

                        <br><br>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="payment_term">Payment Term</label>
                            <div class="col-sm-2">
                            <p>{{ rate_request.payment_term }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="special_instructions">Special Instructions</label>
                            <div class="col-sm-4">
                             <p>{{ rate_request.special_instructions }}</p>
                            </div>
                          </div>
                        </div>


                      </fieldset>

                    </form>

							</div>
						</div>
					</div>
		{% endblock %}
