{% extends './base.html'%}
{% load staticfiles %}
{% load static %}
{% block content %}
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading"><svg class="glyph stroked email"><use xlink:href="#stroked-email"></use></svg> Contact Form</div>
          <div class="panel-body">
            <form class="form-horizontal" action="/contact/" method="post">
              {% csrf_token %}
              <fieldset>
                <!-- Name input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="name">Name</label>
                  <div class="col-md-9">
                  <input id="name" name="name" type="text" placeholder="Name" class="form-control">
                  </div>
                </div>

                <!-- Email input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="email">Title</label>
                  <div class="col-md-9">
                    <input id="email" name="title" type="text" placeholder="Title" class="form-control">
                  </div>
                </div>

                <!-- Message body -->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="message">Message</label>
                  <div class="col-md-9">
                    <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                  </div>
                </div>

                <!-- Form actions -->
                <div class="form-group">
                  <div class="col-md-12 widget-right">
                    <button type="submit" class="btn btn-default btn-md pull-right">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>



      </div><!--/.col-->

      <div class="col-md-4">

        <!-- <div class="panel panel-red">
          <div class="panel-heading dark-overlay"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg>Calendar</div>
          <div class="panel-body">
            <div id="calendar"></div>
          </div>
        </div> -->

        <div class="panel panel-blue">
          <div class="panel-heading dark-overlay"><svg class="glyph stroked clipboard-with-paper"><use xlink:href="#stroked-clipboard-with-paper"></use></svg>To-do List</div>
          <div class="panel-body">
            <ul id="todolist" class="todo-list">

            </ul>
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <input id="btn-input" type="text" class="form-control input-md" placeholder="Add new task" />
              <span class="input-group-btn">
                <button  class="btn btn-primary btn-md" id="btn-todo">Add</button>
              </span>
            </div>
          </div>
        </div>

      </div><!--/.col-->

{% endblock%}
{% block extra_script%}
	<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
	<script src="{% static "js/chart.min.js" %}"></script>
	<script src="{% static "js/chart-data.js" %}"></script>
	<script src="{% static "js/easypiechart.js" %}"></script>
	<script src="{% static "js/easypiechart-data.js" %}"></script>
	<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
	<script>

    function deleteTodo (id) {
      $.ajax({
          type:"GET",
          url:"/todo/"+id+"/",
          success: function(data){
            $('#todo_'+id).remove();
          }
      });
    }

    $('#btn-todo').click(function(){
      var data = {
        text: $('#btn-input').val()
      };
      $.ajax({
          type:"POST",
          url:"/todos/",
          data: data,
          success: function(result) {
            console.log(result);
            var string = '<li id="todo_'+result[0].pk+'" class="todo-list-item"> <div class="checkbox"> <a>'+result[0].fields.text+'</a></div><div class="pull-right action-buttons"><a onclick="deleteTodo('+result[0].pk+')" class="trash"><svg class="glyph stroked trash"><use xlink:href="#stroked-trash"></use></svg></a></div></li>';
            $('#todolist').append(string);
            $('#btn-input').val("");
          }
      });
    });

    $.ajax({
        type: "GET",
        url: "/todos/",
        success: function (data) {
          for(var i = 0; i<data.length; i++){
              console.log(data);
            var string = '<li id="todo_'+data[i].pk+'" class="todo-list-item"> <div class="checkbox"> <a>'+data[i].fields.text+'</a></div><div class="pull-right action-buttons"><a onclick="deleteTodo('+data[i].pk+')" class="trash"><svg class="glyph stroked trash"><use xlink:href="#stroked-trash"></use></svg></a></div></li>';
            $('#todolist').append(string);
          }
        }
    });

	</script>
  {% endblock %}
