{% extends './base.html' %}

{% block content %}
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">Quotation-Air</div>
								<div class="panel-body">
                    <form class="form-horizontal" role="form" method="post" action="/quotation/new/">
                      <fieldset>
                        <br>
                          <!-- Text input-->
                          {% csrf_token %}
                          <input type="hidden" name="type" value="AIF">
													<input type="hidden" name="rate_request" value="{{rate_request.id}}">

													<div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="client_name">Client Name</label>
                              <div class="col-sm-2 control-label">
                            		<p>{{ rate_request.client.client_name }}</p>
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Details:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="company_name">Company Name</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ rate_request.client.client_name }}</p>
                              </div>
                            </div>
                          </div>


                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="contact">Contact</label>
                              <div class="col-sm-2 control-label">
                               <p>{{ rate_request.client.client_name }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="phone">Phone</label>
                              <div class="col-sm-2 control-label">
                         				<p>{{ rate_request.client.business_phone }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="email">E-mail</label>
                              <div class="col-sm-2 control-label">
                             		<p>{{ rate_request.client.email }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
                              <div class="col-sm-2 control-label">
                                <p style="color:red">{{ rate_request.client.extra_information }} does the client have extra contact info?</p>
                              </div>
                            </div>
                          </div>
													<hr/>
                          <h4 class="text-primary">Destination:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="port_of_loading">Port of Loading</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ rate_request.destination.port_of_loading }}</p>
                              </div>
                              <label class="col-sm-2 control-label" for="location_type_loading">Location Type</label>
                              <div class="col-sm-2 control-label">
                               	<p>{{ rate_request.destination.loading_location_type }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="port_of_discharge">Port of Discharge</label>
                              <div class="col-sm-2 control-label">
                             		<p>{{ rate_request.destination.port_of_discharge }}</p>
                              </div>
                              <label class="col-sm-2 control-label" for="location_type_discharge">Location Type</label>
                              <div class="col-sm-2 control-label">
	                            	<p>{{ rate_request.destination.discharge_location_type }}</p>
                              </div>
                            </div>
                          </div>

                          <hr/>

                          <h4 class="text-primary">Cargo Details:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="commodity">Commodity</label>
                              <div class="col-sm-2">
                                <input id="commodity" name="commodity" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="no_of_packages">Number of Packages</label>
                              <div class="col-sm-2">
                                <input id="no_of_packages" name="no_of_packages" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="actual_weight">Actual Weight</label>
                              <div class="col-sm-2">
                                <input id="actual_weight" name="actual_weight" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="chargeable_weight">Chargeable Weight</label>
                              <div class="col-sm-2">
                                <input id="chargeable_weight" name="chargeable_weight" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="dimensions">Dimensions</label>
                              <div class="col-sm-2">
                                <input id="dimensions" name="dimensions" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="air_line">Air-Line</label>
                              <div class="col-sm-2">
                                <input id="air_line" name="air_line" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="transit_date">Transit Time</label>
                              <div class="col-sm-2">
                                <input id="transit_date" name="transit_date" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="route">Route</label>
                              <div class="col-sm-2">
                                <input id="route" name="route" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="departure_date">Departure Date</label>
                              <div class="col-sm-2">
                                <input id="departure_date" name="departure_date" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="arrival_date">Arrival Date</label>
                              <div class="col-sm-2">
                                <input id="arrival_date" name="arrival_date" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="mawb">MAWB - Number</label>
                              <div class="col-sm-2">
                                <input id="mawb" name="mawb" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="hawb">HAWB - Number</label>
                              <div class="col-sm-2">
                                <input id="hawb" name="hawb" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <hr/>

                          <div class ="row">
                            <h4 class="text-primary col-sm-1">Quotation:</h4>
                            <label class="col-sm-2 control-label" for="">Net Cost</label>
                            <label class="col-sm-2 control-label" for="">Selling</label>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="airfreight">AIRFREIGHT/KG</label>
                              <div class="col-sm-2">
                                <input id="airfreight" name="airfreight_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="airfreight" name="airfreight_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="fuel_suercharge">FUEL SURCHARGE/KG</label>
                              <div class="col-sm-2">
                                <input id="fuel_suercharge" name="fuel_surcharge_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="fuel_suercharge" name="fuel_surcharge_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="security_fees">SECURITY FEES/KG</label>
                              <div class="col-sm-2">
                                <input id="security_fees" name="security_fees_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="security_fees" name="security_fees_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="exw_charges">EXW - CHARGES</label>
                              <div class="col-sm-2">
                                <input id="exw_charges" name="exw_charges_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="exw_charges" name="exw_charges_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="screening_fees">SCREENING FEES</label>
                              <div class="col-sm-2">
                                <input id="screening_fees" name="screening_fees_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="screening_fees" name="screening_fees_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="storage">STORAGE</label>
                              <div class="col-sm-2">
                                <input id="storage" name="storage_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="storage" name="storage_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="inland">INLAND</label>
                              <div class="col-sm-2">
                                <input id="inland" name="inland_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="inland" name="inland_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="packing">PACKING</label>
                              <div class="col-sm-2">
                                <input id="packing" name="packing_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="packing" name="packing_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="taxes_n_duties">TAXES & DUTIES</label>
                              <div class="col-sm-2">
                                <input id="taxes_n_duties" name="taxes_n_duties_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="taxes_n_duties" name="taxes_n_duties_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="handling_fees">HANDLING FEES</label>
                              <div class="col-sm-2">
                                <input id="handling_fees" name="handling_fees_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="handling_fees" name="handling_fees_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="p_share">P/SHARE</label>
                              <div class="col-sm-2">
                                <input id="p_share" name="p_share_net" type="text" placeholder="" class="form-control">
                              </div>
                              <div class="col-sm-2">
                                <input id="p_share" name="p_share_selling" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <hr/>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="special_instructions">Special Instructions</label>
                              <div class="col-sm-4">
                                <textarea class="form-control" id="special_instructions" name="special_instructions"></textarea>
                              </div>
                            </div>
                          </div>

                          <hr/>

                        </fieldset>
                         <input type="submit" value="Submit">
                      </form>
                </div>
              </div>
            </div>
     {% endblock %}
