{% extends './base.html' %}

{% block extra_styling %}

<style>
#terms{
  min-height: 200px;
}
</style>
{% endblock %}

{% block content %}
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">Offer to Client Sea</div>
            <div class="panel-body">

                <form class="form-horizontal" role="form" method="post" action="/offer/new/">
                  <fieldset>
              <!-- <h1 style="color:orange">Offer to Client <b>Sea</b></h1> -->
                    <br>
                      <!-- Text input-->
                      {% csrf_token %}
                      <input type="hidden" name="type" value="S">
											<input type="hidden" name="quotation" value="{{quotation.id}}">
                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="client_name">Client Name</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.rate_request.client.client_name }}</p>
                          </div>
                        </div>
                      </div>

                      <hr/>

                      <h4 class="text-primary">Details:</h4>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="company_name">Company Name</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.rate_request.client.client_name }}</p>
                          </div>
                        </div>
                      </div>


                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="contact">Contact</label>
                          <div class="col-sm-2 control-label">
                           <p>{{ quotation.rate_request.client.client_name }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="phone">Phone</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.rate_request.client.business_phone }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="email">E-mail</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.rate_request.client.email }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
                          <div class="col-sm-2 control-label">
                            <p style="color:red">{{ quotation.rate_request.client.extra_information }} </p>
                          </div>
                        </div>
                      </div>
                      <hr/>

                      <div class ="row">
                        <h4 class="text-primary col-sm-1">Offer Details:</h4>
                        <label class="col-sm-2 control-label" for="">Net Cost</label>
                        <label class="col-sm-2 control-label" for="">Selling</label>
                      </div>


                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="shipping_line">Shipping Line</label>
                          <div class="col-sm-2">
                            <input disabled id="airfreight" name="airfreight_net"
                            type="text" value="{{quotation.lcl_cargo_details.shipping_line}}" class="form-control">
                          </div>
                          <div class="col-sm-2">
                            <select class=" form-control" name="shipping_line">
                              {% for shipping_line in shipping_lines %}
                              <option value="{{ shipping_line.id }}">{{ shipping_line.name }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="ocean_freight">OCEAN FREIGHT</label>
                          <div class="col-sm-2">
                            <input disabled id="fuel_suercharge" name="ocean_freight_net" type="text" value="{{quotation.lcl_quotation.ocean_freight_net}}" placeholder="" class="form-control">
                          </div>
                          <div class="col-sm-2">
                            <input id="ocean_freight" name="ocean_freight" type="text" placeholder="" class="form-control">
                          </div>

                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="thc">T.H.C</label>
                          <div class="col-sm-2">
                            <input disabled id="fuel_suercharge" name="thc_net" type="text" value="{{quotation.lcl_quotation.thc_net}}" placeholder="" class="form-control">
                          </div>
                          <div class="col-sm-2">
                            <input id="thc" name="thc" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="transportation">TRANSPORTATION</label>
                          <div class="col-sm-2">
                            <input disabled id="fuel_suercharge" name="transportation_net" type="text" value="{{quotation.lcl_quotation.transportation_net}}" placeholder="" class="form-control">
                          </div>
                          <div class="col-sm-2">
                            <input id="transportation" name="transportation" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="transfer">TRANSFER</label>
                          <div class="col-sm-2">
                            <input disabled id="fuel_suercharge" name="transfer_net" type="text" value="{{quotation.lcl_quotation.transfer_net}}" placeholder="" class="form-control">
                          </div>
                          <div class="col-sm-2">
                            <input id="transfer" name="transfer" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="clearance">CLEARANCE P.O.L</label>
                          <div class="col-sm-2">
                            <input disabled id="fuel_suercharge" name="clearance_pol_net" type="text" value="{{quotation.lcl_quotation.clearance_pol_net}}" placeholder="" class="form-control">
                          </div>
                          <div class="col-sm-2">
                            <input id="clearance_pol" name="clearance_pol_selling" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="clearance">CLEARANCE P.O.D</label>
                          <div class="col-sm-2">
                            <input disabled id="fuel_suercharge" name="clearance_pod_net" type="text" value="{{quotation.lcl_quotation.clearance_pod_net}}" placeholder="" class="form-control">
                          </div>
                          <div class="col-sm-2">
                            <input id="clearance_pol" name="clearance_pod_selling" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="bl_fees">B/L FEES</label>
                          <div class="col-sm-2">
                            <input disabled id="fuel_suercharge" name="bl_fees_net" type="text" value="{{quotation.lcl_quotation.bl_fees_net}}" placeholder="" class="form-control">
                          </div>
                          <div class="col-sm-2">
                            <input id="bl_fees" name="bl_fees" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="telex_release">TELEX RELEASE</label>
                          <div class="col-sm-2">
                            <input disabled id="fuel_suercharge" name="telex_release_net" type="text" value="{{quotation.lcl_quotation.telex_release_net}}" placeholder="" class="form-control">
                          </div>
                          <div class="col-sm-2">
                            <input id="telex_release" name="telex_release" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>
                      <hr/>

                      <h4 class="text-primary">Extra Notes:</h4>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="official_receipts">OFFICIAL RECEIPTS</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.lcl_quotation.official_receipts_net }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="free_time_destination">Free Time at Destination</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.extra_notes.free_time_at_destination }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="vessels_available">Vessels Available</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.extra_notes.vessels_available }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="route">Route</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.extra_notes.route }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="transit_time">Transit Time</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.extra_notes.transit_time }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="offer_validity">Offer Validity</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.extra_notes.offer_validity }}</p>
                          </div>
                        </div>
                      </div>

                      <hr/>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="special_instructions">Special Instructions</label>
                          <div class="col-sm-4 control-label">
                          <p>{{ quotation.special_instructions }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="payment_credit">PAYMENT CREDIT</label>
                          <div class="col-sm-2">
                            <input id="payment_credit" name="payment_credit" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="other_notes">OTHER NOTES</label>
                          <div class="col-sm-2">
                            <input id="other_notes" name="other_notes" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <br><br>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="extra_info">TERMS</label>
                          <div class="col-sm-4 control-label">
                            <textarea id="terms" name="terms" type="text" placeholder="" class="form-control"></textarea>
                          </div>
                        </div>
                      </div>
<!--
                      <b>TERMS:-</b>
                      <br><br>

                      <p>*   Freight Payable in Egypt and based on port to port basis. <br>
                        *  Surcharges mentioned are current and any additional surcharges shall be applicable at actual if any at the time of trade.  <br>


              * Port Storage/Line demurrage/BL surrender fee shall be applicable at actual if any. <br>

              * Subject to Space & Equipment availability. <br>

              *  Booking is subject to commodity acceptance <br>

              * Please advise 05 days prior to the shipment to arrange accordingly.  <br>

              * Above rates shall be applicable on Prepaid basis Only.  <br>

              * Transportation rates are not valid under areas where road restrictions and toll. <br>

              *  Transportation  depends on pick up location-  hrs free time for stuffing after that charges applicable <br>

              * PAYMENT TERMS:    As per agreement if any <br><br>
              Hope the above meets your requirement and waiting for your positive reply. -->
                 </p>
                    </fieldset>
                     <input type="submit" value="Submit">
                  </form>
              </div>

        </div>
      </div>
  {% endblock %}

  {% block extra_script%}
  <script type="text/javascript">

   $("select:not(#status)").prepend("<option value=''>N/A</option>").val('');
  </script>
  {% endblock %}
