{% extends './base.html' %}
{% load staticfiles%}
{% block content%}

			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<span class="col-sm-4">Rate Requests</span>
							<div id="line-legend" class="chart-legend col-sm-8"></div>
						</div>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<span class="col-sm-4">Offers</span>
							<div id="bar-legend" class="chart-legend col-sm-8"></div>
						</div>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="main-chart" id="bar-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<span class="col-sm-4">Truckers</span>
							<em class="col-sm-8 small">Number of Done Deals Per Trucker</em>
						</div>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="pie-chart" ></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<span class="col-sm-4">Shipping Lines</span>
							<em class="col-sm-8 small">Number of Offers Per Shipping Line</em>
						</div>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="doughnut-chart" ></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Accepted Offers:</h4>
						<div class="easypiechart" id="easypiechart-blue" data-percent="{{ percentage_acc_count }}" ><span class="percent">{{ percentage_acc_count }}%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Rejected Offers:</h4>
						<div class="easypiechart" id="easypiechart-orange" data-percent="{{ percentage_rej_count }}" ><span class="percent">{{ percentage_rej_count }}%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Done Offers:</h4>
						<div class="easypiechart" id="easypiechart-teal" data-percent="{{ percentage_done_count }}" ><span class="percent">{{ percentage_done_count }}%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Pending Offers:</h4>
						<div class="easypiechart" id="easypiechart-red" data-percent="{{ percentage_pending_count }}" ><span class="percent">{{ percentage_pending_count }}%</span>
						</div>
					</div>
				</div>
			</div>

{% endblock %}
{% block extra_script%}
	<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
	<script  type="text/javascript">
	var aif_requests = '{{aif_requests}}'
	var lcl_requests = '{{lcl_requests}}'
	var fcl_requests = '{{fcl_requests}}'

	var offers_acc = '{{offers_acc}}'
	var offers_rej = '{{offers_rej}}'
	var offers_done = '{{offers_done}}'

	var trucker_numbers = '{{trucker_numbers}}'
	var trucker_names = '{{trucker_names}}'

	var shipping_line_numbers = '{{shipping_line_numbers}}'
	var shipping_line_names = '{{shipping_line_names}}'
		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>

	<script src="{% static "js/chart.min.js" %}"></script>
	<script src="{% static "js/chart-data.js" %}"></script>
	<script src="{% static "js/easypiechart.js" %}"></script>
	<script src="{% static "js/easypiechart-data.js" %}"></script>
{% endblock %}
