{% extends './base.html' %}
{% block content %}
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Air-Freight Rate Request</div>
				<div class="panel-body">

						<form class="form-horizontal" role="form" method="post" action="/rate_request/new/">
							<fieldset>
								{% csrf_token %}
								<!-- <h1 style="color:orange">Air-Freight Rate Request</h1> -->
								<br>
									<!-- Text input-->
									<input type="hidden" name="type" value="AIF">


									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="client">Client</label>
											<div class="col-sm-2">
												<select id="client_select" class=" form-control" name="client">
													{% for client in clients %}
													<option value="{{ client.id }}">{{ client.client_name }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>

									<hr/>

									<h4 class="text-primary">Details:</h4>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="company_name">Company Name</label>
											<div class="col-sm-2">
												<input disabled id="company_name" name="company_name" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>


									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="contact">Contact</label>
											<div class="col-sm-2">
												<input disabled id="contact" name="contact" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="phone">Phone</label>
											<div class="col-sm-2">
												<input disabled id="phone" name="phone" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="email">E-mail</label>
											<div class="col-sm-2">
												<input disabled id="email" name="email" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
											<div class="col-sm-2">
												<input disabled id="extra_info" name="extra_info" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<hr/>

									<h4 class="text-primary">Destination:</h4>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="receipt_place">Place Of Receipt</label>
											<div class="col-sm-2">
												<input id="receipt_place" name="receipt_place" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="port_of_loading">Port of Loading</label>
											<div class="col-sm-2">
												<input id="port_of_loading" name="port_of_loading" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="port_of_discharge">Port of Discharge</label>
											<div class="col-sm-2">
												<input id="port_of_discharge" name="port_of_discharge" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<hr/>

									<h4 class="text-primary">Place Of Delivery:</h4>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="address">Address</label>
											<div class="col-sm-2">
												<input id="address" name="address" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="contact_person">Contact Person</label>
											<div class="col-sm-2">
												<input id="contact_person" name="contact_person" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="contact_person_extra">Contact Person (extra)</label>
											<div class="col-sm-2">
												<input id="contact_person_extra" name="contact_person_extra" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<hr/>

									<h4 class="text-primary">Cargo Details:</h4>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="quantity">Quantity</label>
											<div class="col-sm-2">
												<input id="quantity" name="quantity" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="commodity">Commodity</label>
											<div class="col-sm-2">
												<input id="commodity" name="commodity" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="weight_per_piece">Weight / Piece</label>
											<div class="col-sm-2">
												<input id="weight_per_piece" name="weight_per_piece" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="gross_weight">Gross Weight</label>
											<div class="col-sm-2">
												<input id="gross_weight" name="gross_weight" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="length">Length</label>
											<div class="col-sm-2">
												<input id="length" name="length" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="width">Width</label>
											<div class="col-sm-2">
												<input id="width" name="width" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="height">Height</label>
											<div class="col-sm-2">
												<input id="height" name="height" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="chargeable_weight">Chargeable Weight</label>
											<div class="col-sm-2">
												<input id="chargeable_weight" name="chargeable_weight" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="pieces">Pieces</label>
											<div class="col-sm-2">
												<input id="pieces" name="pieces" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="packing">Packing</label>
											<div class="col-sm-2">
												<input id="packing" name="packing" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>


									<hr/>

									<h4 class="text-primary">Air-Line:</h4>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-2">
											<label class=" control-label" for="preferred">Preferred</label>

												<select class=" form-control" name="preferred_shipping_line">
													{% for shipping_line in shipping_lines %}
													<option value="{{ shipping_line.id }}">{{ shipping_line.name }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="col-sm-2">
											<label class=" control-label" for="other_shipping_line">Other</label>

												<select class=" form-control" name="other_shipping_line">
													{% for shipping_line in shipping_lines %}
													<option value="{{ shipping_line.id }}">{{ shipping_line.name }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>

									<hr/>

									<h4 class="text-primary">Imo Class:</h4>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="hazardous">Hazardous</label>
											<div class="col-sm-2">
												<input id="hazardous" name="hazardous" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="non_hazardous">Non-Hazardous</label>
											<div class="col-sm-2">
												<input id="non_hazardous" name="non_hazardous" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<hr/>

									<h4 class="text-primary">Term of Shipment:</h4>
									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="client">Term</label>
											<div class="col-sm-2">
												<select id="shipment_term" name="shipment_term" class="form-control">
													<option value="EX">Ex-Work</option>
													<option value="DAP">D.A.P</option>
													<option value="DDU">D.D.U</option>
													<option value="DDP">D.D.P</option>
													<option value="FCA">F.C.A</option>
													<option value="FOB">F.O.B</option>
													<option value="CF">C & F</option>
													<option value="CIF">C.I.F</option>
													<option value="OTH">Other</option>
												</select>
											</div>
										</div>
									</div>

									<h4 class="text-primary">Shipping Terms:</h4>
									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="shipping_terms">Term</label>
											<div class="col-sm-2">
												<select id="shipping_terms" name="shipping_terms" class="form-control">
													<option value="FILO">FILO</option>
													<option value="FIOS">FIOS</option>
													<option value="FIFO">FIFO</option>
													<option value="LIFO">LIFO</option>
													<option value="FLT">FLT</option>
												</select>
											</div>
										</div>
									</div>

									<hr/>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="special_instructions">Special Instructions</label>
											<div class="col-sm-4">
												<textarea class="form-control" id="special_instructions" name="special_instructions"></textarea>
											</div>
										</div>
									</div>

									<hr/>
								</fieldset>
								<button class="btn btn-primary btn-lg" style="width:100%" type="submit" value="Submit">Submit</button>
							</form>
				</div>
			</div>
		</div>
{% endblock %}

{% block extra_script%}
<script type="text/javascript">
	$("#client_select").change(function () {
     var optionSelected = $(this).find("option:selected");
     var valueSelected  = optionSelected.val();
     var textSelected   = optionSelected.text();
		 $.ajax({
			 url : "/clientSelectHandler/",
			 type : "GET",
			 data : {"id" : valueSelected},
			 dataType : "json",
			 success : function(client_data){
				 $('#company_name').val(client_data.company_name);
				 $('#phone').val(client_data.phone);
				 $('#contact').val(client_data.contact);
				 $('#extra_info').val(client_data.extra_info);
				 $('#email').val(client_data.email);
			 }
		 });
  });
		$("select:not(#client_select)").prepend("<option value=''>N/A</option>").val('');
</script>
{% endblock %}
