<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Employees Management</title>

<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css"/>

<!-- <link href="{% static "css/datepicker3.css" %}" rel="stylesheet"> -->
<link href="{% static "css/styles.css" %}" rel="stylesheet">

<!--Icons-->
<script src="{% static "js/lumino.glyphs.js" %}"></script>

<style>
	table.dataTable tbody>tr.selected,
	table.dataTable tbody>tr>.selected {
		background-color: #A2D3F6;
	}
</style>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Admin </span>Dashboard</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
							<li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
							<li><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li><a href="/admin/"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Work Space</a></li>
			<li><a href="/admin/tasks/"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tasks</a></li>
			<li class="active"><a href="/admin/employees/"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Employees Management</a></li>
			<li><a href="/admin/charts/"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Charts</a></li>
			<li class="parent ">
				<a data-toggle="collapse" href="#sub-item-1">
					<span><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> New Rate Request
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="/rate_request/aif/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Air Rate Request
						</a>
					</li>
					<li>
						<a class="" href="/rate_request/lcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> LCL Rate Request
						</a>
					</li>
					<li>
						<a class="" href="/rate_request/fcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> FCL Rate Request
						</a>
					</li>
					<li>
						<a class="" href="/rate_request/sales/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Sales Rate Request
						</a>
					</li>
				</ul>
			</li>
			<li class="parent ">
				<a data-toggle="collapse" href="#sub-item-2">
					<span><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> New Quotation
				</a>
				<ul class="children collapse" id="sub-item-2">
					<li>
						<a class="" href="/quotation/aif/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Quotations AIR
						</a>
					</li>
					<li>
						<a class="" href="/quotation/fcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Quotations FCL
						</a>
					</li>
					<li>
						<a class="" href="/quotation/lcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Quotations LCL
						</a>
					</li>
				</ul>
			</li>
			<li class="parent ">
				<a data-toggle="collapse" href="#sub-item-3">
					<span><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> New Offer
				</a>
				<ul class="children collapse" id="sub-item-3">
					<li>
						<a class="" href="/offer/air/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Offer to Client Air
						</a>
					</li>
					<li>
						<a class="" href="/offer/sea/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Offer to Client Sea
						</a>
					</li>
				</ul>
			</li>
		</ul>

	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<br/>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" id="example">

						</table>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
	</div><!--/.main-->


	<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
	<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script src="{% static "js/dataTables.altEditor.free.js" %}"></script>
	<script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>

	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){
				$(this).find('em:first').toggleClass("glyphicon-minus");
			});
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>

	<script>
		$(document).ready(function() {

			var dataSet = [
				["Tiger Nixon", "System Architect", "Edinburgh", "5421", "2011/04/25", "$320,800"],
				["Garrett Winters", "Accountant", "Tokyo", "8422", "2011/07/25", "$170,750"],
				["Ashton Cox", "Junior Technical Author", "San Francisco", "1562", "2009/01/12", "$86,000"],
				["Cedric Kelly", "Senior Javascript Developer", "Edinburgh", "6224", "2012/03/29", "$433,060"],
				["Airi Satou", "Accountant", "Tokyo", "5407", "2008/11/28", "$162,700"],
				["Brielle Williamson", "Integration Specialist", "New York", "4804", "2012/12/02", "$372,000"],
				["Herrod Chandler", "Sales Assistant", "San Francisco", "9608", "2012/08/06", "$137,500"],
				["Rhona Davidson", "Integration Specialist", "Tokyo", "6200", "2010/10/14", "$327,900"],
				["Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "2009/09/15", "$205,500"],
				["Sonya Frost", "Software Engineer", "Edinburgh", "1667", "2008/12/13", "$103,600"],
				["Jena Gaines", "Office Manager", "London", "3814", "2008/12/19", "$90,560"],
				["Quinn Flynn", "Support Lead", "Edinburgh", "9497", "2013/03/03", "$342,000"],
				["Charde Marshall", "Regional Director", "San Francisco", "6741", "2008/10/16", "$470,600"],
				["Haley Kennedy", "Senior Marketing Designer", "London", "3597", "2012/12/18", "$313,500"],
				["Tatyana Fitzpatrick", "Regional Director", "London", "1965", "2010/03/17", "$385,750"],
				["Michael Silva", "Marketing Designer", "London", "1581", "2012/11/27", "$198,500"]
			];

			var columnDefs = [{
				title: "Name"
			}, {
				title: "Position"
			}, {
				title: "Office"
			}, {
				title: "Extn."
			}, {
				title: "Start date"
			}, {
				title: "Salary"
			}];

			var myTable;

			myTable = $('#example').DataTable({
				"sPaginationType": "full_numbers",
				data: dataSet,
				columns: columnDefs,
				dom: 'Bfrtip',        // Needs button container
				select: 'single',
				responsive: true,
				altEditor: true,     // Enable altEditor
				buttons: [{
					text: 'Add',
					name: 'add'        // do not change name
				},
				{
					extend: 'selected', // Bind to Selected row
					text: 'Edit',
					name: 'edit'        // do not change name
				},
				{
					extend: 'selected', // Bind to Selected row
					text: 'Delete',
					name: 'delete'      // do not change name
			 }]

			});

		});
	</script>
</body>

</html>
