{% extends './base.html' %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <br/>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">Offer to Client Sea</div>
            <div class="panel-body">

                <form class="form-horizontal" role="form" method="post" action="/offer/new/">
                  <fieldset>
              <!-- <h1 style="color:orange">Offer to Client <b>Sea</b></h1> -->
                    <br>
                      <!-- Text input-->
                      {% csrf_token %}
                      <input type="hidden" name="type" value="S">
											<input type="hidden" name="quotation" value="{{quotation.id}}">
                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="client_name">Client Name</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.rate_request.client.client_name }}</p>
                          </div>
                        </div>
                      </div>

                      <hr/>

                      <h4 class="text-primary">Details:</h4>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="company_name">Company Name</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.rate_request.client.client_name }}</p>
                          </div>
                        </div>
                      </div>


                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="contact">Contact</label>
                          <div class="col-sm-2 control-label">
                           <p>{{ quotation.rate_request.client.client_name }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="phone">Phone</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.rate_request.client.business_phone }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="email">E-mail</label>
                          <div class="col-sm-2 control-label">
                            <p>{{ quotation.rate_request.client.email }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
                          <div class="col-sm-2 control-label">
                            <p style="color:red">{{ quotation.rate_request.client.extra_information }} does the client have extra contact info?</p>
                          </div>
                        </div>
                      </div>
                      <hr/>

                      <h4 class="text-primary">Offer Details:</h4>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="ocean_freight">SHIPPING LINE/AIR LINE</label>
                          <div class="col-sm-2">
                            <input id="ocean_freight" name="shipping_line" type="text" placeholder="" class="form-control">
                          </div>

                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="ocean_freight">OCEAN FREIGHT</label>
                          <div class="col-sm-2">
                            <input id="ocean_freight" name="ocean_freight" type="text" placeholder="" class="form-control">
                          </div>

                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="thc">T.H.C</label>
                          <div class="col-sm-2">
                            <input id="thc" name="thc" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="transportation">TRANSPORTATION</label>
                          <div class="col-sm-2">
                            <input id="transportation" name="transportation" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="transfer">TRANSFER</label>
                          <div class="col-sm-2">
                            <input id="transfer" name="transfer" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="clearance">CLEARANCE</label>
                          <div class="col-sm-2">
                            <input id="clearance_pol" name="clearance" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>



                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="bl_fees">B/L FEES</label>
                          <div class="col-sm-2">
                            <input id="bl_fees" name="bl_fees" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="telex_release">TELEX RELEASE</label>
                          <div class="col-sm-2">
                            <input id="telex_release" name="telex_release" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="free_time_at_destination">FREE TIME AT DESTINATION</label>
                          <div class="col-sm-2">
                            <input id="free_time_destination" name="free_time_at_destination" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="vessels">VESSELS</label>
                          <div class="col-sm-2">
                            <input id="vessels" name="vessels" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="payment_credit">PAYMENT CREDIT</label>
                          <div class="col-sm-2">
                            <input id="payment_credit" name="payment_credit" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="official_receipts">OFFICIAL RECEIPTS</label>
                          <div class="col-sm-2">
                            <input id="official_receipts" name="official_receipts" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="other_notes">OTHER NOTES</label>
                          <div class="col-sm-2">
                            <input id="other_notes" name="other_notes" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="offer_validity">OFFER VALIDITY</label>
                          <div class="col-sm-2">
                            <input id="offer_validity" name="offer_validity" type="text" placeholder="" class="form-control">
                          </div>
                        </div>
                      </div>

                      <br><br>

                      <b>TERMS:-</b>
                      <br><br>

                      <p>*   Freight Payable in Egypt and based on port to port basis. <br>
                        *  Surcharges mentioned are current and any additional surcharges shall be applicable at actual if any at the time of trade.  <br>


              * Port Storage/Line demurrage/BL surrender fee shall be applicable at actual if any. <br>

              * Subject to Space & Equipment availability. <br>

              *  Booking is subject to commodity acceptance <br>

              * Please advise 05 days prior to the shipment to arrange accordingly.  <br>

              * Above rates shall be applicable on Prepaid basis Only.  <br>

              * Transportation rates are not valid under areas where road restrictions and toll. <br>

              *  Transportation  depends on pick up location- (----) hrs free time for stuffing after that charges applicable <br>

              * PAYMENT TERMS:    As per agreement if any <br><br>
              Hope the above meets your requirement and waiting for your positive reply.
                 </p>
                    </fieldset>
                     <input type="submit" value="Submit">
                  </form>
              </div>

        </div>
      </div>
    </div>
  {% endblock %}
