{% extends './base.html' %}

{% block content %}

			<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
				<br/>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">FCL Rate Request</div>
								<div class="panel-body">
									<div class="container">

                    <form class="form-horizontal" role="form" method="post" action="/rate_request/new/">
                      <fieldset>
                        {% csrf_token %}
                        <br>
                        <div class="container">
                          <!-- Text input-->
                          <input type="hidden" name="type" value="FCL">

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="client_name">Client Name</label>
                              <div class="col-sm-2">
                                <input id="client_name" name="client_name" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Details:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="company_name">Company Name</label>
                              <div class="col-sm-2">
                                <input id="company_name" name="company_name" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>


                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="contact">Contact</label>
                              <div class="col-sm-2">
                                <input id="contact" name="contact" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="phone">Phone</label>
                              <div class="col-sm-2">
                                <input id="phone" name="phone" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="email">E-mail</label>
                              <div class="col-sm-2">
                                <input id="email" name="email" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
                              <div class="col-sm-2">
                                <input id="extra_info" name="extra_info" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													<hr/>

													<h4 class="text-primary">Destination:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="port_of_loading">Port of Loading</label>
                              <div class="col-sm-2">
                                <input id="port_of_loading" name="port_of_loading" type="text" placeholder="" class="form-control">
                              </div>
                              <label class="col-sm-2 control-label" for="location_type_loading">Location Type</label>
                              <div class="col-sm-2">
                                <input id="location_type_loading" name="location_type_loading" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="port_of_discharge">Port of Discharge</label>
                              <div class="col-sm-2">
                                <input id="port_of_discharge" name="port_of_discharge" type="text" placeholder="" class="form-control">
                              </div>
                              <label class="col-sm-2 control-label" for="location_type_discharge">Location Type</label>
                              <div class="col-sm-2">
                                <input id="location_type_discharge" name="location_type_discharge" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Final Delivery Destination:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="address">Address</label>
                              <div class="col-sm-2">
                                <input id="address" name="address" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="contact_person">Contact Person</label>
                              <div class="col-sm-2">
                                <input id="contact_person" name="contact_person" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="contact_person_extra">Contact Person (extra)</label>
                              <div class="col-sm-2">
                                <input id="contact_person_extra" name="contact_person_extra" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Required Delivery Time:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="delivery_time">Within</label>
                              <div class="col-sm-2">
                                <input id="delivery_time" name="delivery_time" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Cargo Details:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="container_type">Container Type</label>
                              <div class="col-sm-2">
                                <input id="container_type" name="container_type" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="quantity">Quantity</label>
                              <div class="col-sm-2">
                                <input id="quantity" name="quantity" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="commodity">Commodity</label>
                              <div class="col-sm-2">
                                <input id="commodity" name="commodity" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="gross_weight">Gross Weight</label>
                              <div class="col-sm-2">
                                <input id="gross_weight" name="gross_weight" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="net_weight">Net Weight</label>
                              <div class="col-sm-2">
                                <input id="net_weight" name="net_weight" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Shipping-Line:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="preferred">Preferred</label>
                              <div class="col-sm-2">
                                <input id="preferred" name="preferred" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="any">Any</label>
                              <div class="col-sm-2">
                                <input id="any" name="any" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Imo Class:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="hazardous">Hazardous</label>
                              <div class="col-sm-2">
                                <input id="hazardous" name="hazardous" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="non_hazardous">Non-Hazardous</label>
                              <div class="col-sm-2">
                                <input id="non_hazardous" name="non_hazardous" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Shipment Term:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="ex_work">Ex-work</label>
                              <div class="col-sm-2">
                                <input id="ex_work" name="ex_work" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="fas">F.A.S</label>
                              <div class="col-sm-2">
                                <input id="fas" name="fas" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="fob">F.O.B</label>
                              <div class="col-sm-2">
                                <input id="fob" name="fob" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="cnf">C&F</label>
                              <div class="col-sm-2">
                                <input id="cnf" name="cnf" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="cif">C.I.F</label>
                              <div class="col-sm-2">
                                <input id="cif" name="cif" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="others">Others</label>
                              <div class="col-sm-2">
                                <input id="others" name="others" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <hr/>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="payment_term">Payment Term</label>
                              <div class="col-sm-2">
                                <input id="payment_term" name="payment_term" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="special_instructions">Special Instructions</label>
                              <div class="col-sm-4">
                                <textarea class="form-control" id="special_instructions" name="special_instructions"></textarea>
                              </div>
                            </div>
                          </div>
													
													<hr/>

                        </fieldset>
                         <input type="submit" value="Submit">
                      </form>
                  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
		{% endblock %}