{% extends './base.html' %}
{% load staticfiles %}
{% load static %}

{% block extra_styling %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css"/>

<style>
	table.dataTable tbody>tr.selected,
	table.dataTable tbody>tr>.selected {
		background-color: #A2D3F6;
	}
</style>
{% endblock %}

{% block content %}

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<br/>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Rate Requests</div>
						<div class="panel-body">
							<!-- <div class="container"> -->
							<p style="color:red">
								does the client have a client_name and company_name?
							</p>

							<table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" id="example">

							</table>
							<!-- </div> -->
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Quotations</div>
						<div class="panel-body">
							<p style="color:red">
								what will be added in the sales field??
									</p>
								<p style="color:red">
								can there be more than one quotation for the same request???
							</p>

							<table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" id="example2">

						</table>

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Offers</div>
					<div class="panel-body">
						<p style="color:red">
							should the client get notified via email when an offer is complete?
						</p>
						<table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" id="example3">

						</table>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extra_script %}
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
	<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script src="{% static "js/dataTables.altEditor.free.js" %}"></script>
	<script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){
				$(this).find('em:first').toggleClass("glyphicon-minus");
			});
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>


	<script>
		$(document).ready(function() {

			var dataSet = [
				{% for rate_request in rate_requests %}
				["{{rate_request.id}}", "{{rate_request.type}}", "{{rate_request.client.client_name}}", "{{rate_request.sales_person.first_name}} {{rate_request.sales_person.last_name}}", "{{rate_request.get_status_display}}", "{{rate_request.created_date}}", "<a href='/rate_request/{{rate_request.id}}/view/'>View</a>"]{% if not forloop.last %} ,{% endif %}
				{% endfor %}
			];

			var columnDefs = [{
				title: "ID"
			}, {
				title: "Type"
			},  {
				title: "Client"
			}, {
				title: "Assignee"
			}, {
				title: "Status"
			}, {
				title: "Date"
			}, {
				title: "View"
			}];

			var myTable;

			myTable = $('#example').DataTable({
				"sPaginationType": "full_numbers",
				data: dataSet,
				columns: columnDefs,
				responsive: true
			});

		});
	</script>
	<script>
		$(document).ready(function() {

			var dataSet = [
				{% for quotation in quotations %}
				["{{quotation.id}}", "{{quotation.type}}", "{{quotation.client.client_name}}",
				 "{{quotation.sales_person.first_name}} {{quotation.sales_person.last_name}}",
				 "{{quotation.operations_person.first_name}} {{quotation.operations_person.last_name}}",
				 "{{quotation.get_status_display}}", "{{quotation.created_date}}", "<a href='/quotation/{{quotation.id}}/view/'>View</a>"]{% if not forloop.last %} ,{% endif %}
				{% endfor %}
			];

			var columnDefs = [{
				title: "ID"
			}, {
				title: "Type"
			}, {
				title: "Client"
			}, {
				title: "Sales"
			}, {
				title: "Operations"
			}, {
				title: "Status"
			}, {
				title: "Date"
			}, {
				title: "View"
			}];

			var myTable;

			myTable = $('#example2').DataTable({
				"sPaginationType": "full_numbers",
				data: dataSet,
				columns: columnDefs,
				responsive: true
			});

		});
	</script>

<script>
		$(document).ready(function() {

			var dataSet = [
				{% for offer in offers %}
				["{{ offer.id }}", "{{ offer.type }}",  "{{ offer.client.client_name }}", "{{ offer.sales_person.first_name }} {{ offer.sales_person.last_name }}", "{{ offer.get_status_display }}", "{{ offer.created_date }}", "<a href='/offer/{{offer.id}}/view/'>View</a>"] {% if not forloop.last %},{% endif %}
				{% endfor %}
			];

			var columnDefs = [{
				title: "ID"
			}, {
				title: "Type"
			}, {
				title: "Client"
			}, {
				title: "Sales Person"
			}, {
				title: "Status"
			}, {
				title: "Date"
			}, {
				title: "View"
			}];

			var myTable;

			myTable = $('#example3').DataTable({
				"sPaginationType": "full_numbers",
				data: dataSet,
				columns: columnDefs,
				responsive: true
			});

		});
	</script>

	{% endblock %}
