{% extends './base.html' %}
{% block extra_styling %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css"/>


<style>
table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
	background-color: #A2D3F6;
}
</style>
{% endblock %}

{% block content%}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<br>
	<button id="show" class="btn btn-info"> New Employee </button>
	<br/>
	<br>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" id="example">

					</table>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->

	<div id="addForm" class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form id="#addForm" class="form-horizontal" role="form" method="post" action="/admin/employees/">
						<fieldset>
							{% csrf_token %}
							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="first_name">First Name</label>
								<div class="col-md-4">
									<input id="first_name" name="first_name" type="text" placeholder="First Name" class="form-control input-md" required="">

								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="last_name">Last Name</label>
								<div class="col-md-4">
									<input id="last_name" name="last_name" type="text" placeholder="Last Name" class="form-control input-md" required="">

								</div>
							</div>

							<!-- Select Basic -->
							<div class="form-group">
								<label class="col-md-4 control-label" for="role">Role</label>
								<div class="col-md-4">
									<select id="role" name="role" class="form-control">
										<option value="admin">Admin</option>
										<option value="sales">HR</option>
										<option value="operation">Sales</option>
										<option value="hr">Operation</option>
									</select>
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="email">Email</label>
								<div class="col-md-4">
									<input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required="">

								</div>
							</div>

							<!-- Password input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="password">Password</label>
								<div class="col-md-4">
									<input id="password" name="password" type="password" placeholder="Password" class="form-control input-md">

								</div>
							</div>

							<!-- Button -->
							<div class="form-group">
								<label class="col-md-4 control-label" for="addEmployefe"></label>
								<div class="col-md-4">
									<button id="addEmployee" name="addEmployee" class="btn btn-info">Add Employee</button>
								</div>
							</div>

						</fieldset>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->




</div><!--/.main-->
{% endblock %}
{% block extra_script%}
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>

<script>
!function ($) {
	$(document).on("click","ul.nav li.parent > a > span.icon", function(){
		$(this).find('em:first').toggleClass("glyphicon-minus");
	});
	$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
}(window.jQuery);

$(window).on('resize', function () {
	if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
})
$(window).on('resize', function () {
	if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
})
</script>

<script>

$('#addForm').hide();


$("#show").click(function(){

	$("#addForm").show('1000');
});

$(document).ready(function() {

	var dataSet = [
		{% for user in users %}
		["{{ user.email }}", "{{ user.role }}", "{{ user.first_name }} {{ user.last_name }}", "{{ user.date_joined }}"] {% if not forloop.last %},{% endif %}
		{% endfor %}
	];

	var columnDefs = [{
		title: "Email"
	}, {
		title: "Role"
	}, {
		title: "Name"
	}, {
		title: "Date Joined"
	}];

	var myTable;

	myTable = $('#example').DataTable({
		"sPaginationType": "full_numbers",
		data: dataSet,
		columns: columnDefs,
		select: 'single',
		responsive: true
	});

});
</script>
{% endblock %}
