{% extends './base.html' %}

{% block content %}

						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<span>Quotations-FCL</span>
									{% if user.role != 'AC'%}
									<a href="/quotation/{{quotation.id}}/delete/" id="show" class="btn btn-danger pull-right"> Delete Quotation </a>
									{% endif %}
									{% if user.role == 'AD' or user.role == 'SA'%}
									<a href="/quotation/{{quotation.id}}/offer/sea/new/"
									class="btn btn-default pull-right" style="margin-right:5px;">Create Offer</a>
									{% endif %}
									{% if offer_accepted %}
										{% if user.role == 'AD' %}
										<button id="editOffer" class="btn btn-default pull-right" style="margin-right:5px;">Edit Offer</button>
										{% endif %}
										{% if user.role == 'OP' and quotation.operations_person.id == user.id %}
										<button id="editOffer" class="btn btn-default pull-right" style="margin-right:5px;">Edit Offer</button>
										{% endif %}
									{% endif %}
								</div>
								<div class="panel-body">
									<div id="updateStatus" class="row">
										<div class="col-lg-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<form id="#statuform" class="form-horizontal" role="form" method="post" action="/quotation/{{quotation.id}}/edit/">
														<fieldset>
															{% csrf_token %}
															<div class="form-group">
																<div class="row">
																	<label class="col-sm-2 control-label" for="current_location">Current Location</label>
																	<div class="col-sm-2">
																		<input id="current_location" name="current_location" type="text" placeholder="" class="form-control">
																	</div>

																	<label class="col-sm-2 control-label" for="arrival_date">Arrival Date</label>
																	<div class="col-sm-2">
																		<input id="arrival_date" name="arrival_date" type="text" placeholder="" class="form-control">
																	</div>

																	<div class="col-md-2">
																		<button id="updateStatus" name="updateStatus" class="btn btn-info">Update Quotation</button>
																	</div>
																</div>
															</div>


														</fieldset>
													</form>
												</div>
											</div>
										</div><!-- /.col-->
									</div><!-- /.row -->

                    <form class="form-horizontal" role="form" method="post" action="/quotation/new/">
                      <fieldset>

                        <br>
                          <!-- Text input-->
                          {% csrf_token %}
                          <input type="hidden" name="type" value="FCL">

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="client_name">Client Name</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.client.client_name }}</p>
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Details:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="company_name">Company Name</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.client.client_name }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="contact">Contact</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.client.client_name }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="phone">Phone</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.client.business_phone }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="email">E-mail</label>
                              <div class="col-sm-2 control-label">
                            		<p>{{ quotation.client.email }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
                              <div class="col-sm-2 control-label">
                                <p style="color:red">{{ quotation.client.extra_information }}??? does the client have extra info???</p>
                              </div>
                            </div>
                          </div>

													<hr/>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="agent_details">Agent Details</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.agent_details }}</p>
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Destination:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="port_of_loading">Port of Loading</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.destination.port_of_loading }}</p>
                              </div>
                              <label class="col-sm-2 control-label" for="location_type_loading">Location Type</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.destination.loading_location_type }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="port_of_discharge">Port of Discharge</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.destination.port_of_discharge }}</p>
                              </div>
                              <label class="col-sm-2 control-label" for="location_type_discharge">Location Type</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.destination.discharge_location_type }}</p>
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Cargo Details:</h4>

													<div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="departure_date">Departure Date</label>
                              <div class="col-sm-2 control-label">
                            		<p>{{ quotation.departure_date }}</p>
                              </div>
                            </div>
                          </div>

													<div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="arrival_date">Arrival Date</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.arrival_date }}</p>
                              </div>
                            </div>
                          </div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="arrival_date">Current Location</label>
															<div class="col-sm-2 control-label">
																<p>{{ quotation.current_location }}</p>
															</div>
														</div>
													</div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="shipping_line">Shipping Line</label>
                              <div class="col-sm-2 control-label">
                              <p>{{ quotation.fcl_cargo_details.shipping_line.name }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="container_type">Container Type</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_cargo_details.container_type }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="quantity">Quantity</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_cargo_details.quantity }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="commodity">Commodity</label>
                              <div class="col-sm-2 control-label">
	                            	<p>{{ quotation.fcl_cargo_details.commodity }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="gross_weight">Gross Weight</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_cargo_details.gross_weight }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="net_weight">Net Weight</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_cargo_details.net_weight }}</p>
                              </div>
                            </div>
                          </div>

													<hr/>

                          <div class ="row">
                            <h4 class="text-primary col-sm-1">Quotation:</h4>
                            <label class="col-sm-2 control-label" for="">Net Cost</label>
                            <label class="col-sm-2 control-label" for="">Selling</label>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="ocean_freight">OCEAN FREIGHT</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_quotation.ocean_freight_net }}</p>
                              </div>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_quotation.ocean_freight_selling }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="thc">T.H.C</label>
                              <div class="col-sm-2 control-label">
                             		<p>{{ quotation.fcl_quotation.thc_net }}</p>
                              </div>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_quotation.thc_selling }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="transportation">TRANSPORTATION</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_quotation.transportation_net }}</p>
                              </div>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_quotation.transportation_selling }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="transfer">TRANSFER</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_quotation.transfer_net }}</p>
                              </div>
                              <div class="col-sm-2 control-label">
	                            	<p>{{ quotation.fcl_quotation.transfer_selling }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="clearance_pol">CLEARANCE/P.O.L</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_quotation.clearance_pol_net }}</p>
                              </div>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_quotation.clearance_pol_selling }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="clearance_pod">CLEARANCE/P.O.D</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_quotation.clearance_pod_net }}</p>
                              </div>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_quotation.clearance_pod_selling }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="bl_fees">B/L FEES</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.fcl_quotation.bl_fees_net }}</p>
                              </div>
                              <div class="col-sm-2 control-label">
                            		<p>{{ quotation.fcl_quotation.bl_fees_selling }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="telex_release">TELEX RELEASE</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.fcl_quotation.telex_release_net }}</p>
                              </div>
                              <div class="col-sm-2 control-label">
                        				<p>{{ quotation.fcl_quotation.telex_release_selling }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="ex_work">EX-WORK</label>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_quotation.ex_work_net }}</p>
                              </div>
                              <div class="col-sm-2 control-label">
                              	<p>{{ quotation.fcl_quotation.ex_work_selling }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="official_receipts">OFFICIAL RECEIPTS</label>
                              <div class="col-sm-2 control-label">
                             		<p>{{ quotation.fcl_quotation.official_receipts_net }}</p>
                              </div>
                              <div class="col-sm-2 control-label">
                            		<p>{{ quotation.fcl_quotation.official_receipts_selling }}</p>
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Extra Notes:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="free_time_destination">Free Time at Destination</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.extra_notes.free_time_at_destination }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="vessels_available">Vessels Available</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.extra_notes.vessels_available }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="route">Route</label>
                              <div class="col-sm-2 control-label">
                           			<p>{{ quotation.extra_notes.route }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="transit_time">Transit Time</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.extra_notes.transit_time }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="offer_validity">Offer Validity</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.extra_notes.offer_validity }}</p>
                              </div>
                            </div>
                          </div>

													<hr/>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="special_instructions">Special Instructions</label>
                              <div class="col-sm-4 control-label">
                              	<p>{{ quotation.special_instructions }}</p>
                              </div>
                            </div>
                          </div>

													<hr/>

                        </fieldset>

                      </form>

                </div>
              </div>
            </div>
    {% endblock %}
