{% extends './base.html' %}

{% block content %}
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">Offer-{{type}}</div>
								<div class="panel-body">
                    <form class="form-horizontal" role="form" method="post" action="/offer/new/">
                      <fieldset>

                        <br>
                          <!-- Text input-->
                          {% csrf_token %}
                          <input type="hidden" name="type" value="{{type}}">
													<input type="hidden" name="quotation" value="{{quotation.id}}">

													<div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="client_name">Client Name</label>
                              <div class="col-sm-2 control-label">
                            		<p>{{ quotation.rate_request.client.client_name }}</p>
                              </div>
                            </div>
                          </div>

													<hr/>

                          <h4 class="text-primary">Details:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="company_name">Company Name</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.rate_request.client.client_name }}</p>
                              </div>
                            </div>
                          </div>


                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="contact">Contact</label>
                              <div class="col-sm-2 control-label">
                               <p>{{ quotation.rate_request.client.client_name }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="phone">Phone</label>
                              <div class="col-sm-2 control-label">
                         				<p>{{ quotation.rate_request.client.business_phone }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="email">E-mail</label>
                              <div class="col-sm-2 control-label">
                             		<p>{{ quotation.rate_request.client.email }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.rate_request.client.extra_information }}</p>
                              </div>
                            </div>
                          </div>
													<hr/>

                          <h4 class="text-primary">Destination:</h4>

													<div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="port_of_loading">Place of Receipt</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.rate_request.receipt_place }}</p>
                              </div>
                            </div>
                          </div>

													<div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="port_of_loading">Port of Loading</label>
                              <div class="col-sm-2 control-label">
                                <p>{{ quotation.rate_request.port_loading }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="port_of_discharge">Port of Discharge</label>
                              <div class="col-sm-2 control-label">
                             		<p>{{ quotation.rate_request.port_discharge }}</p>
                              </div>
                            </div>
                          </div>

                          <hr/><br/>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="agent_details">Agent Details</label>
                              <div class="col-sm-2">
																<p>
																	{{quotation.agent_details}}
																</p>
                              </div>
                            </div>
                          </div>

                          <br><hr/>

                          <h4 class="text-primary">Cargo Details:</h4>
													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="quantity">Quantity</label>
															<div class="col-sm-2">
															 <p>{{ quotation.rate_request.fcl_cargo_details.quantity }}</p>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="commodity">Commodity</label>
															<div class="col-sm-2">
															 <p>{{ quotation.rate_request.fcl_cargo_details.commodity }}</p>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="container_type">Container Type</label>
															<div class="col-sm-2">
														<p>{{ quotation.rate_request.fcl_cargo_details.container_type }}</p>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="container_type">Special Equipment</label>
															<div class="col-sm-2">
														<p>{{ quotation.rate_request.fcl_cargo_details.special_equipment }}</p>
															</div>
														</div>
													</div>

													{% if type == 'IFCL' %}
													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="gross_weight">Gross Weight</label>
															<div class="col-sm-2">
																<p>{{ quotation.rate_request.fcl_cargo_details.gross_weight }}</p>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="net_weight">Tare Weight</label>
															<div class="col-sm-2">
															<p>{{ quotation.rate_request.fcl_cargo_details.tare_weight }}</p>
															</div>
														</div>
													</div>
													{% endif %}

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="departure_date">Departure Date</label>
															<div class="col-sm-2">
																<p>
																	{{quotation.departure_date}}
																</p>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="arrival_date">Arrival Date</label>
															<div class="col-sm-2">
																<p>
																	{{quotation.arrival_date}}
																</p>
															</div>
														</div>
													</div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="shipping_line">Shipping Line</label>
                              <div class="col-sm-2">
																<p>
																	{{quotation.fcl_cargo_details.shipping_line}}
																</p>
															</div>
                            </div>
                          </div>

                          <hr/>

                          <div class ="row">
                            <h4 class="text-primary col-sm-2">Origin Charges:</h4>
                            <label class="col-sm-2 control-label" for="">Net Cost</label>
                            <label class="col-sm-2 control-label" for="">Selling Cost</label>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="ocean_freight">OCEAN FREIGHT</label>
                              <div class="col-sm-2">
																<input id="ocean_freight" disabled value="{{quotation.fcl_quotation.ocean_freight}}" type="text" placeholder="" class="form-control">
															</div>
															<div class="col-sm-2">
																<input id="ocean_freight" name="ocean_freight" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="thc">T.H.C</label>
                              <div class="col-sm-2">
																<input id="thc" disabled value="{{quotation.fcl_quotation.thc_origin}}" type="text" placeholder="" class="form-control">
                              </div>
															<div class="col-sm-2">
																<input id="thc" name="thc_origin" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="transportation">PRE-CARRIAGE</label>
															<div class="col-sm-2">
                                <input id="transportation" disabled value="{{quotation.fcl_quotation.pre_carriage}}" type="text" placeholder="" class="form-control">
                              </div>
															<div class="col-sm-2">
                                <input id="transportation" name="pre_carriage" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="transfer">CUSTOM ClEARANCE</label>
															<div class="col-sm-2">
                                <input id="transfer" disabled value="{{quotation.fcl_quotation.custom_clearance_origin}}" type="text" placeholder="" class="form-control">
                              </div>
															<div class="col-sm-2">
                                <input id="transfer" name="custom_clearance_origin" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													{% if type == 'IFCL' %}
                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="clearance_pol">DOCUMENTATION</label>
															<div class="col-sm-2">
                                <input id="clearance_pol" disabled value="{{quotation.fcl_quotation.documentation_origin}}" type="text" placeholder="" class="form-control">
                              </div>
															<div class="col-sm-2">
                                <input id="clearance_pol" name="documentation_origin" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>
													{% endif %}
                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="clearance_pod">X-RAY</label>
															<div class="col-sm-2">
                                <input id="clearance_pod" disabled value="{{quotation.fcl_quotation.xray}}" type="text" placeholder="" class="form-control">
                              </div>
															<div class="col-sm-2">
                                <input id="clearance_pod" name="xray" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="bl_fees">BAF</label>
															<div class="col-sm-2">
                                <input id="bl_fees" disabled value="{{quotation.fcl_quotation.baf}}" type="text" placeholder="" class="form-control">
                              </div>
															<div class="col-sm-2">
                                <input id="bl_fees" name="baf" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													<div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="telex_release">CAF</label>
															<div class="col-sm-2">
                                <input id="telex_release" disabled value="{{quotation.fcl_quotation.caf}}" type="text" placeholder="" class="form-control">
                              </div>
															<div class="col-sm-2">
                                <input id="telex_release" name="caf" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

													{% if type == 'XFCL'%}
													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="telex_release">CONTAINER ALLOCATION FEE</label>
															<div class="col-sm-2">
																<input id="telex_release" disabled value="{{quotation.fcl_quotation.container_fees}}" type="text" placeholder="" class="form-control">
															</div>
															<div class="col-sm-2">
																<input id="telex_release" name="container_fees" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="telex_release">DELAY</label>
															<div class="col-sm-2">
																<input id="telex_release" disabled value="{{quotation.fcl_quotation.delay}}"  type="text" placeholder="" class="form-control">
															</div>
															<div class="col-sm-2">
																<input id="telex_release" name="delay" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>
													{% endif %}

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="ex_work">OTHERS</label>
															<div class="col-sm-2">
                                <input id="ex_work" disabled value="{{quotation.fcl_quotation.others_origin}}"  type="text" placeholder="" class="form-control">
                              </div>
															<div class="col-sm-2">
                                <input id="ex_work" name="others_origin" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>


													<div class ="row">
														<h4 class="text-primary col-sm-2">Destination Charges:</h4>
														<label class="col-sm-2 control-label" for="">Net Cost</label>
														<label class="col-sm-2 control-label" for="">Selling Cost</label>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="ocean_freight">T.H.C</label>
															<div class="col-sm-2">
																<input id="ocean_freight" disabled value="{{quotation.fcl_quotation.thc_destination}}" type="text" placeholder="" class="form-control">
															</div>
															<div class="col-sm-2">
																<input id="ocean_freight" name="thc_destination" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="thc">DOCUMENTATION</label>
															<div class="col-sm-2">
																<input id="thc" disabled value="{{quotation.fcl_quotation.documentation_destination}}" type="text" placeholder="" class="form-control">
															</div>
															<div class="col-sm-2">
																<input id="thc" name="documentation_destination" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="transportation">STORAGE</label>
															<div class="col-sm-2">
																<input id="transportation" disabled value="{{quotation.fcl_quotation.storage}}" type="text" placeholder="" class="form-control">
															</div>
															<div class="col-sm-2">
																<input id="transportation" name="storage" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="transfer">DEMURRAGE</label>
															<div class="col-sm-2">
																<input id="transfer" disabled value="{{quotation.fcl_quotation.demurrage}}" type="text" placeholder="" class="form-control">
															</div>
															<div class="col-sm-2">
																<input id="transfer" name="demurrage" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="clearance_pol">CUSTOM CLEARANCE</label>
															<div class="col-sm-2">
																<input id="clearance_pol" disabled value="{{quotation.fcl_quotation.custom_clearance_destination}}" type="text" placeholder="" class="form-control">
															</div>
															<div class="col-sm-2">
																<input id="clearance_pol" name="custom_clearance_destination" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>

													{% if type == 'IFCL' %}
													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="clearance_pod">ROAD CARTAGE</label>
															<div class="col-sm-2">
																<input id="clearance_pod" disabled value="{{quotation.fcl_quotation.road_cartage}}" type="text" placeholder="" class="form-control">
															</div>
															<div class="col-sm-2">
																<input id="clearance_pod" name="road_cartage" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>
													{% endif %}

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="bl_fees">ON CARRIAGE</label>
															<div class="col-sm-2">
																<input id="bl_fees" disabled value="{{quotation.fcl_quotation.on_carriage}}" type="text" placeholder="" class="form-control">
															</div>
															<div class="col-sm-2">
																<input id="bl_fees" name="on_carriage" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="ex_work">OTHERS</label>
															<div class="col-sm-2">
																<input id="ex_work" disabled value="{{quotation.fcl_quotation.others_destination}}" type="text" placeholder="" class="form-control">
															</div>
															<div class="col-sm-2">
																<input id="ex_work" name="others_destination" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>

													<hr>

													<div class="form-group">
														<div class="row">
															<label class="col-sm-2 control-label" for="official_receipts">OFFICIAL RECEIPTS</label>
															<div class="col-sm-2">
																<input id="official_receipts" disabled value="{{quotation.fcl_quotation.official_receipts_net}}" type="text" placeholder="" class="form-control">
															</div>
															<div class="col-sm-2">
																<input id="official_receipts" name="official_receipts_selling" type="text" placeholder="" class="form-control">
															</div>
														</div>
													</div>

                          <hr/>

                          <h4 class="text-primary">Extra Notes:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="free_time_destination">Free Time at Destination</label>
                              <div class="col-sm-2">
																<p>
																	{{quotation.extra_notes.free_time_at_destination}}
																</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="vessels_available">Vessels Available</label>
                              <div class="col-sm-2">
																<p>
																	{{quotation.extra_notes.vessels_available}}
																</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="route">Route</label>
                              <div class="col-sm-2">
																{{quotation.extra_notes.route}}
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="transit_time">Transit Time</label>
                              <div class="col-sm-2">
																<p>
																	{{quotation.extra_notes.transit_time}}
																</p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="offer_validity">Offer Validity</label>
                              <div class="col-sm-2">
																<p>
																	{{quotation.extra_notes.offer_validity}}
																</p>
                              </div>
                            </div>
                          </div>

                          <hr/>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="special_instructions">Special Instructions</label>
                              <div class="col-sm-4">
																<p>
																	{{quotation.special_instructions}}
																</p>
                              </div>
                            </div>
                          </div>

													<br>
		                      <div class="form-group">
		                        <div class="row">
		                          <label class="col-sm-2 control-label" for="extra_info">TERMS</label>
		                          <div class="col-sm-4 control-label">
		                            <textarea id="terms" name="terms" type="text" placeholder="" class="form-control"></textarea>
		                          </div>
		                        </div>
		                      </div>

                          <hr/>

                        </fieldset>
                         <input type="submit" value="Submit">
                      </form>

                </div>
              </div>
            </div>
   {% endblock %}

	 {% block extra_script%}
	 <script type="text/javascript">

	  $("select:not(#client_select)").prepend("<option value=''>N/A</option>").val('');
	 </script>
	 {% endblock %}
