{% extends './base.html' %}
{% block extra_styling %}

<style>
#terms{
  min-height: 200px;
}
</style>
{% endblock %}
{% block content %}

					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">Offer to Client Air</div>
							<div class="panel-body">

                  <form class="form-horizontal" role="form" method="post" action="/offer/new/">
                    <fieldset>
                    <!-- <h1 style="color:orange">Offer To Client <b>Air</b></h1> -->

                      <br>
                        <!-- Text input-->
                        {% csrf_token %}
                        <input type="hidden" name="type" value="A">
												<input type="hidden" name="quotation" value="{{quotation.id}}">

												<div class="form-group">
													<div class="row">
														<label class="col-sm-2 control-label" for="client_name">Client Name</label>
														<div class="col-sm-2 control-label">
															<p>{{ quotation.rate_request.client.client_name }}</p>
														</div>
													</div>
												</div>

												<hr/>

												<h4 class="text-primary">Details:</h4>

												<div class="form-group">
													<div class="row">
														<label class="col-sm-2 control-label" for="company_name">Company Name</label>
														<div class="col-sm-2 control-label">
															<p>{{ quotation.rate_request.client.client_name }}</p>
														</div>
													</div>
												</div>


												<div class="form-group">
													<div class="row">
														<label class="col-sm-2 control-label" for="contact">Contact</label>
														<div class="col-sm-2 control-label">
														 <p>{{ quotation.rate_request.client.client_name }}</p>
														</div>
													</div>
												</div>

												<div class="form-group">
													<div class="row">
														<label class="col-sm-2 control-label" for="phone">Phone</label>
														<div class="col-sm-2 control-label">
															<p>{{ quotation.rate_request.client.business_phone }}</p>
														</div>
													</div>
												</div>

												<div class="form-group">
													<div class="row">
														<label class="col-sm-2 control-label" for="email">E-mail</label>
														<div class="col-sm-2 control-label">
															<p>{{ quotation.rate_request.client.email }}</p>
														</div>
													</div>
												</div>

												<div class="form-group">
													<div class="row">
														<label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
														<div class="col-sm-2 control-label">
															<p>{{ quotation.rate_request.client.extra_information }} </p>
														</div>
													</div>
												</div>
												<hr/>

                        <div class ="row">
                          <h4 class="text-primary col-sm-1">Offer Details:</h4>
                          <label class="col-sm-2 control-label" for="">Net Cost</label>
                          <label class="col-sm-2 control-label" for="">Selling</label>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="air_freight_kg">AIRFREIGHT/KG</label>
                            <div class="col-sm-2">
                              <input disabled id="airfreight" name="airfreight_net" type="text" value="{{quotation.aif_quotation.air_freight_kg_net}}" class="form-control">
                            </div>
                            <div class="col-sm-2">
                              <input id="airfreight" name="air_freight_kg" type="text" placeholder="" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="fuel_sur_charge_kg">FUEL SURCHARGE/KG</label>
                            <div class="col-sm-2">
                              <input disabled id="fuel_suercharge" name="fuel_surcharge_net" type="text" value="{{quotation.aif_quotation.fuel_sur_charge_kg_net}}" placeholder="" class="form-control">
                            </div>
                            <div class="col-sm-2">
                              <input id="fuel_suercharge" name="fuel_sur_charge_kg" type="text" placeholder="" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="security_fees_kg">SECURITY FEES/KG</label>
                            <div class="col-sm-2">
                              <input disabled id="security_fees" name="security_fees_net" type="text" placeholder="" value="{{quotation.aif_quotation.security_fees_kg_net}}" class="form-control">
                            </div>
                            <div class="col-sm-2">
                              <input id="security_fees" name="security_fees_kg" type="text" placeholder="" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="exw_charges">EXW - CHARGES</label>
                            <div class="col-sm-2">
                              <input disabled id="exw_charges" name="exw_charges_net" type="text" placeholder="" value="{{quotation.aif_quotation.exw_charges_net}}" class="form-control">
                            </div>
                            <div class="col-sm-2">
                              <input id="exw_charges" name="exw_charges" type="text" placeholder="" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="screening_fees">SCREENING FEES</label>
                            <div class="col-sm-2">
                              <input disabled id="screening_fees" name="screening_fees_net" type="text" placeholder="" value="{{quotation.aif_quotation.screening_fees_net}}"class="form-control">
                            </div>
                            <div class="col-sm-2">
                              <input id="screening_fees" name="screening_fees" type="text" placeholder="" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="storage">STORAGE</label>
                            <div class="col-sm-2">
                              <input disabled id="storage" name="storage_net" type="text" placeholder="" value="{{quotation.aif_quotation.storage_net}}" class="form-control">
                            </div>
                            <div class="col-sm-2">
                              <input id="storage" name="storage" type="text" placeholder="" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="inland">INLAND</label>
                            <div class="col-sm-2">
                              <input disabled id="inland" name="inland_net" type="text" placeholder="" value="{{quotation.aif_quotation.inland_net}}" class="form-control">
                            </div>
                            <div class="col-sm-2">
                              <input id="inland_selling" name="inland_selling" type="text" placeholder="" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="packing">PACKING</label>
                            <div class="col-sm-2">
                              <input disabled id="packing" name="packing_net" type="text" placeholder="" value="{{quotation.aif_quotation.packing_net}}" class="form-control">
                            </div>
                            <div class="col-sm-2">
                              <input id="packing" name="packing" type="text" placeholder="" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="taxes_duties">TAXES & DUTIES</label>
                            <div class="col-sm-2">
                              <input disabled id="taxes_n_duties" name="taxes_n_duties_net" type="text" value="{{quotation.aif_quotation.taxes_duties_net}}" placeholder="" class="form-control">
                            </div>
                            <div class="col-sm-2">
                              <input id="taxes_n_duties" name="taxes_duties" type="text" placeholder="" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="handling_fees">HANDLING FEES</label>
                            <div class="col-sm-2">
                              <input disabled id="handling_fees" name="handling_fees_net" type="text" placeholder="" value="{{quotation.aif_quotation.handling_fees_net}}" class="form-control">
                            </div>
                            <div class="col-sm-2">
                              <input id="handling_fees" name="handling_fees" type="text" placeholder="" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="p_share">P/SHARE</label>
                            <div class="col-sm-2">
                              <input disabled id="p_share" name="p_share_net" type="text" placeholder="" value="{{quotation.aif_quotation.p_share_net}}" class="form-control">
                            </div>
                            <div class="col-sm-2">
                              <input id="p_share" name="p_share" type="text" placeholder="" class="form-control">
                            </div>
                          </div>
                        </div>

												<hr>
												<div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="official_receipts">OFFICIAL RECEIPTS</label>
                            <div class="col-sm-4">
                              <input id="official_receipts" name="official_receipts" type="text" placeholder="" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="other_notes">OTHER NOTES</label>
                            <div class="col-sm-4">
                              <textarea id="other_notes" name="other_notes" type="text" placeholder="" class="form-control">
                              </textarea>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-2 control-label" for="offer_validity">OFFER VALIDITY</label>
                            <div class="col-sm-4">
                              <input id="offer_validity" name="offer_validity" type="text" placeholder="" class="form-control">
                            </div>
                          </div>
                        </div>

	                      <div class="form-group">
	                        <div class="row">
	                          <label class="col-sm-2 control-label" for="extra_info">TERMS</label>
	                          <div class="col-sm-4 control-label">
	                            <textarea id="terms" name="terms" type="text" placeholder="" class="form-control"></textarea>
	                          </div>
	                        </div>
	                      </div>

                        <br><br>

<!--                         <b>TERMS:-</b>
                        <br><br>

                        <p>*   Freight(sea/air) Payable in Egypt and based on port to port basis. <br>
                          *  Surcharges mentioned are current and any additional surcharges shall be applicable at actual if any at the time of trade.  <br>


                * Port Storage/Line demurrage/BL surrender fee shall be applicable at actual if any. <br>

                * Subject to Space & Equipment availability. <br>

                *  Booking is subject to commodity acceptance <br>

                * Please advise 05 days prior to the shipment to arrange accordingly.  <br>

                * Above rates shall be applicable on Prepaid basis Only.  <br>

                * Transportation rates are not valid under areas where road restrictions and toll. <br>

                *  Transportation  depends on pick up location-  hrs free time for stuffing after that charges applicable <br>

                * PAYMENT TERMS:    As per agreement if any <br><br>
                Hope the above meets your requirement and waiting for your positive reply. -->
                   </p>
                      </fieldset>
                       <input type="submit" value="Submit">
                    </form>
                </div>
					</div>
				</div>
 {% endblock %}

 {% block extra_script%}
 <script type="text/javascript">

  $("select:not(#trucker_offer_select, #port_select , #status)").prepend("<option value=''>N/A</option>").val('');
  $("#port_select").change(function () {
     var optionSelected = $(this).find("option:selected");
     var valueSelected  = optionSelected.val();
     var textSelected   = optionSelected.text();
     $.ajax({
       url : "/portSelectHandler/",
       type : "GET",
       data : {"id" : valueSelected},
       dataType : "json",
       success : function(trucker_offers){
         $.each(trucker_offers, function (i, trucker_offer) {
            $('#trucker_offer_select').append($('<option>', {
                value: trucker_offer.id,
                text : trucker_offer.port_1 + ' - ' + trucker_offer.port_2 + ' - ' + trucker_offer.trucker + ' - ' + trucker_offer.price
            }));
        });
       }
     });
  });
  $("#trucker_offer_select").change(function () {
     var optionSelected = $(this).find("option:selected");
     var valueSelected  = optionSelected.val();
     var textSelected   = optionSelected.text();
     $.ajax({
       url : "/truckerOfferSelectHandler/",
       type : "GET",
       data : {"id" : valueSelected},
       dataType : "json",
       success : function(trucker_offer){
        $('.trucker_offer_price').empty();
        $('.trucker_offer_price').append(trucker_offer.trucker_offer_price)
       }
     });
  });
 </script>
 {% endblock %}
