{% extends './base.html' %}

{% block content %}

        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">Offer to Client Sea
              {% if user.role != 'AC' %}
              <a href="/offer/{{offer.id}}/delete/" id="show" class="btn btn-danger pull-right"> Delete Offer </a>
              {% endif %}
              {% if eligible %}
              <button id="editOffer" class="btn btn-default">Edit Offer</button>
              {% endif %}
            </div>
            <div class="panel-body">
              <div id="updateStatus" class="row">
                <div class="col-lg-12">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <form id="#statuform" class="form-horizontal" role="form" method="post" action="/offer/{{offer.id}}/edit/">
                        <fieldset>
                          {% csrf_token %}
                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="status">Status</label>
                              <div class="col-sm-2">
                                <select id="status" name="status" class="form-control">
                                  <option value="S">Sent To Client</option>
                                  <option value="A">Accepted</option>
                                  <option value="R">Rejected</option>
                                  <option value="D">Done</option>
                                </select>
                              </div>

                              <div class="col-md-2">
                                <button id="updateStatus" name="updateStatus" class="btn btn-info">Update Status</button>
                              </div>
                            </div>
                          </div>


                        </fieldset>
                      </form>
                    </div>
                  </div>
                </div><!-- /.col-->
              </div><!-- /.row -->

                <form class="form-horizontal" role="form" method="post" action="/offer/new/">
                  <fieldset>
              <!-- <h1 style="color:orange">Offer to Client <b>Sea</b></h1> -->
                    <br>
                      <!-- Text input-->
                      {% csrf_token %}
                      <input type="hidden" name="type" value="S">
                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="client_name">Status</label>
                          <div class="col-sm-2">
                          <p>{{ offer.status }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="client_name">Client Name</label>
                          <div class="col-sm-2">
                          <p>{{ offer.quotation.rate_request.client.client_name }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="company_name">Company Name</label>
                          <div class="col-sm-2">
                           <p>{{ offer.quotation.rate_request.client.client_name }}</p>
                          </div>
                        </div>
                      </div>


                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="contact">Contact</label>
                          <div class="col-sm-2">
                              <p>{{ offer.quotation.rate_request.client.client_name }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="phone">Phone</label>
                          <div class="col-sm-2">
                            <p>{{ offer.quotation.rate_request.client.business_phone }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="email">E-mail</label>
                          <div class="col-sm-2">
                             <p>{{ offer.quotation.rate_request.client.email }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
                          <div class="col-sm-2">
                              <p>{{ offer.quotation.rate_request.client.extra_info }}</p>
                          </div>
                        </div>
                      </div>

                      <br><br>


                      <h4 class="text-primary">Offer Details:</h4>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="shipping_line">SHIPPING LINE</label>
                          <div class="col-sm-2">
                              <p>{{ offer.sea_quotation.shipping_line }}</p>
                          </div>

                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="ocean_freight">OCEAN FREIGHT</label>
                          <div class="col-sm-2">
                              <p>{{ offer.sea_quotation.ocean_freight }}</p>
                          </div>

                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="thc">T.H.C</label>
                          <div class="col-sm-2">
                              <p>{{ offer.sea_quotation.thc }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="transportation">TRANSPORTATION</label>
                          <div class="col-sm-2">
                              <p>{{ offer.sea_quotation.transporation }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="transfer">TRANSFER</label>
                          <div class="col-sm-2">
                              <p>{{ offer.sea_quotation.transfer }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="clearance_pol">CLEARANCE</label>
                          <div class="col-sm-2">
                              <p>{{ offer.sea_quotation.clearance }}</p>
                          </div>
                        </div>
                      </div>



                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="bl_fees">B/L FEES</label>
                          <div class="col-sm-2">
                              <p>{{ offer.sea_quotation.bl_fees }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="telex_release">TELEX RELEASE</label>
                          <div class="col-sm-2">
                              <p>{{ offer.sea_quotation.telex_release }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="free_time_destination">FREE TIME AT DESTINATION</label>
                          <div class="col-sm-2">
                              <p>{{ offer.sea_quotation.free_time_at_destination }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="vessels">VESSELS</label>
                          <div class="col-sm-2">
                              <p>{{ offer.sea_quotation.vessels }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="payment_credit">PAYMENT CREDIT</label>
                          <div class="col-sm-2">
                             <p>{{ offer.sea_quotation.payment_credit }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="official_receipts">OFFICIAL RECEIPTS</label>
                          <div class="col-sm-2">
                              <p>{{ offer.sea_quotation.official_receipts }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="other_notes">OTHER NOTES</label>
                          <div class="col-sm-2">
                            <p>{{ offer.sea_quotation.other_notes }}</p>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-2 control-label" for="offer_validity">OFFER VALIDITY</label>
                          <div class="col-sm-2">
                             <p>{{ offer.sea_quotation.offer_validity }}</p>
                          </div>
                        </div>
                      </div>

                      <br><br>

                      <b>TERMS:-</b>
                      <br><br>

                      <p>*   Freight Payable in Egypt and based on port to port basis. <br>
                        *  Surcharges mentioned are current and any additional surcharges shall be applicable at actual if any at the time of trade.  <br>


              * Port Storage/Line demurrage/BL surrender fee shall be applicable at actual if any. <br>

              * Subject to Space & Equipment availability. <br>

              *  Booking is subject to commodity acceptance <br>

              * Please advise 05 days prior to the shipment to arrange accordingly.  <br>

              * Above rates shall be applicable on Prepaid basis Only.  <br>

              * Transportation rates are not valid under areas where road restrictions and toll. <br>

              *  Transportation  depends on pick up location- (----) hrs free time for stuffing after that charges applicable <br>

              * PAYMENT TERMS:    As per agreement if any <br><br>
              Hope the above meets your requirement and waiting for your positive reply.
                 </p>
                    </fieldset>
                  </form>
              </div>
        </div>
      </div>
{% endblock %}
{% block extra_script %}
<script>

$('#updateStatus').hide();


$("#editOffer").click(function(){

	$("#updateStatus").show('1000');
});
</script>
{% endblock %}
