{% extends './base.html' %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<br/>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Add Client</div>
				<div class="panel-body">
					<div class="container">

						<form class="form-horizontal" role="form" method="post" action="/client/new/">
							<fieldset>
								<br>
								<div class="container">
									<!-- Text input-->
									{% csrf_token %}


									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="client_name">Client Name:</label>
											<div class="col-sm-2">
												<input id="client_name" name="client_name" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="client_type">Client Type:</label>
											<div class="col-sm-2">
												<select id="client_type" name="client_type" class="form-control">
													<option value="IN">Individual</option>
													<option value="CO">Corporation or Organisation</option>
													<option value="BA">Business Address</option>
													<option value="RS">Residence</option>
												</select>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="client_address">Client Address: </label>
											<div class="col-sm-4">
												<textarea class="form-control" id="client_address" name="client_address"></textarea>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="commodity">Comodity:</label>
											<div class="col-sm-2">
												<input id="commodity" name="commodity" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>



									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="business_phone">Business Phone:</label>
											<div class="col-sm-2">
												<input id="business_phone" name="business_phone" type="text" placeholder="" class="form-control">
											</div>
											<label class="col-sm-2 control-label" for="alt_phone">Cell or Alternative Phone:</label>
											<div class="col-sm-2">
												<input id="alt_phone" name="alt_phone" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="fax">Fax Number:</label>
											<div class="col-sm-2">
												<input id="fax" name="fax" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="email">Email:</label>
											<div class="col-sm-2">
												<input id="email" name="email" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<h4 class="text-primary">Contact Information:</h4>


									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="op_contact">Contact Person(Operation):</label>
											<div class="col-sm-2">
												<input id="op_contact" name="op_contact" type="text" placeholder="" class="form-control">
											</div>
											<label class="col-sm-2 control-label" for="op_job_title">Job Title:</label>
											<div class="col-sm-2">
												<input id="op_job_title" name="op_job_title" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="op_phone">Business Phone:</label>
											<div class="col-sm-2">
												<input id="op_business_phone" name="op_business_phone" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="op_email">E-mail:</label>
											<div class="col-sm-2">
												<input id="op_email" name="op_email" type="text" placeholder="" class="form-control">
											</div>
											<label class="col-sm-2 control-label" for="op_phone">Cell Phone:</label>
											<div class="col-sm-2">
												<input id="op_phone" name="op_phone" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>
                  <hr>
                      <div class="form-group">
                    <div class="row">
                      <label class="col-sm-2 control-label" for="finance_contact">Contact Person(Finance):</label>
                      <div class="col-sm-2">
                        <input id="finance_contact" name="finance_contact" type="text" placeholder="" class="form-control">
                      </div>
                      <label class="col-sm-2 control-label" for="finance_job_title">Job Title:</label>
                      <div class="col-sm-2">
                        <input id="finance_job_title" name="finance_job_title" type="text" placeholder="" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <label class="col-sm-2 control-label" for="finance_business_phone">Business Phone:</label>
                      <div class="col-sm-2">
                        <input id="finance_business_phone" name="finance_business_phone" type="text" placeholder="" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <label class="col-sm-2 control-label" for="finance_email">E-mail:</label>
                      <div class="col-sm-2">
                        <input id="finance_email" name="finance_email" type="text" placeholder="" class="form-control">
                      </div>
                      <label class="col-sm-2 control-label" for="finance_phone">Cell Phone:</label>
                      <div class="col-sm-2">
                        <input id="finance_phone" name="finance_phone" type="text" placeholder="" class="form-control">
                      </div>
                    </div>
                  </div>
									<hr>

									<h4 class="text-primary">Account Information:</h4>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="client_id_number">Client ID Number(s):</label>
											<div class="col-sm-2">
												<input id="client_id_number" name="client_id_number" type="text" placeholder="" class="form-control">
											</div>
											<label class="col-sm-2 control-label" for="credit_period">Credit Period:</label>
											<div class="col-sm-2">
												<input id="credit_period" name="credit_period" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="credit_limit">Credit Limit:</label>
											<div class="col-sm-2">
												<input id="credit_limit" name="credit_limit" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>
									<hr>
									<h4 class="text-primary">References:</h4>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="reference_name">Name:</label>
											<div class="col-sm-2">
												<input id="reference_name" name="reference_name" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="reference_phone">Phone:</label>
											<div class="col-sm-2">
												<input id="reference_phone" name="reference_phone" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="notes">Other Notes:</label>
											<div class="col-sm-4">
												<textarea class="form-control" id="notes" name="notes"></textarea>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="issued_by">Account Issued By (Sales Man):</label>
											<div class="col-sm-2">
												<input id="issued_by" name="issued_by" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<label class="col-sm-2 control-label" for="authorized_by">Account Authorised By:</label>
											<div class="col-sm-2">
												<input id="authorized_by" name="authorized_by" type="text" placeholder="" class="form-control">
											</div>
										</div>
									</div>

									<hr/>
								</fieldset>
								<input type="submit" value="Submit">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
