<!DOCTYPE html>
<html>
<head>
 <title>Client Account</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body class="container">

  <form class="form-horizontal" role="form">
    <fieldset>

      <br>
      <div class="container">
        <!-- Text input-->

        <h2 align="center">Customer Identification Profile</h2>
        <br><br>

        <h4 class="text-primary">Customer Information:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="customer_name">Customer Name:</label>
            <div class="col-sm-2">
              <p id = "customer_name" ></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="customer_type">Customer Type:</label>
            <div class="col-sm-2">
              <select id="customer_type" name="customer_type" class="form-control">
              <option value="1">Individual</option>
              <option value="2">Corporation or Organisation</option>
              <option value="3">Business Address</option>
              <option value="4">Residence</option>
            </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="customer_address">Customer Address: </label>
            <div class="col-sm-4">
              <p id = "customer_type"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="commodity">Comodity:</label>
            <div class="col-sm-2">
              <p id = "commodity"></p>
            </div>
          </div>
        </div>



        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="business_phone">Business Phone:</label>
            <div class="col-sm-2">
             <p id ="customer_business_phone"></p>
            </div>
            <label class="col-sm-2 control-label" for="cell_alternative_phone">Cell or Alternative Phone:</label>
            <div class="col-sm-2">
              <p id ="Alternative_phone"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="fax_number">Fax Number:</label>
            <div class="col-sm-2">
              <p id="fax_number"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="email">Email:</label>
            <div class="col-sm-2">
            <p id ="customer_email"></p>
            </div>
          </div>
        </div>

        <h4 class="text-primary">Contact Information:</h4>


        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="contact_person">Contact Person(Operation):</label>
            <div class="col-sm-2">
              <p id="Contact_person_operation"></p>
            </div>
            <label class="col-sm-2 control-label" for="job_title">Job Title:</label>
            <div class="col-sm-2">
                  <p id="job_title_operation"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="business_phone">Business Phone:</label>
            <div class="col-sm-2">
                 <p id="business_phone_operation"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="email">E-mail:</label>
            <div class="col-sm-2">
                  <p id="Email_operation"></p>
            </div>
            <label class="col-sm-2 control-label" for="cell_phone">Cell Phone:</label>
            <div class="col-sm-2">
                  <p id="phone_operation"></p>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="contact_person">Contact Person(Finance):</label>
            <div class="col-sm-2">
              <p id="Contact_person_finance"></p>
            </div>
            <label class="col-sm-2 control-label" for="job_title">Job Title:</label>
            <div class="col-sm-2">
                  <p id="job_title_finance"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="business_phone">Business Phone:</label>
            <div class="col-sm-2">
                 <p id="business_phone_finance"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="email">E-mail:</label>
            <div class="col-sm-2">
                  <p id="Email_finance"></p>
            </div>
            <label class="col-sm-2 control-label" for="cell_phone">Cell Phone:</label>
            <div class="col-sm-2">
                  <p id="phone_finance"></p>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="additional_customer_info">Additional Customer Information:</label>
            <div class="col-sm-4">
              <p id="Additonal_customer_information"></p>
            </div>
          </div>
        </div>



        <h4 class="text-primary">Account Information:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="customer_id_numbers">Customer ID Number(s):</label>
            <div class="col-sm-2">
              <p id="customer_id_notification"></p>
            </div>
            <label class="col-sm-2 control-label" for="credit_period">Credit Period:</label>
            <div class="col-sm-2">
              <p id ="credit_period"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="credit_limit">Credit Limit:</label>
            <div class="col-sm-2">
              <p id="credit_limit"></p>
            </div>
          </div>
        </div>

        <h4 class="text-primary">References:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="name_ref">Name:</label>
            <div class="col-sm-2">
              <p id = "name"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="phone_ref">Phone:</label>
            <div class="col-sm-2">
              <p id ="phone"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="other_notes">Other Notes:</label>
            <div class="col-sm-4">
              <p id="other_notes"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="account_issued_by">Account Issued By (Sales Man):</label>
            <div class="col-sm-2">
              <p id="issued_by"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="account_authorise_by">Account Authorised By:</label>
            <div class="col-sm-2">
              <p id="account_authorised"></p>
            </div>
          </div>
        </div>




      </fieldset>
       <input type="submit" value="Submit">
    </form>
  </body>
  </html>
