<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Opeartion Dashboard</title>

	<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/chart.min.js" %}"></script>
	<script src="{% static "js/chart-data.js" %}"></script>
	<script src="{% static "js/easypiechart.js" %}"></script>
	<script src="{% static "js/easypiechart-data.js" %}"></script>
	<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "js/bootstrap-table.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>



<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/datepicker3.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-table.css" %}" rel="stylesheet">
<link href="{% static "css/styles.css" %}" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylsheet">

<!--Icons-->
<script src="{% static "js/lumino.glyphs.js" %}"></script>

<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/operations/"><span>Operations </span>Dashboard</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/settings/"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
							<li><a href="/logout/"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li  class="active"><a href="/operations/"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tasks</a></li>
			<li><a href="/operations/workspace/"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Work Space</a></li>
			<li class="parent ">
				<a data-toggle="collapse" href="#sub-item-1">
					<span><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> New Quotation
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="/quotation/aif/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> AIF Quotation
						</a>
					</li>
					<li>
						<a class="" href="/quotation/fcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> FCL Quotation
						</a>
					</li>
					<li>
						<a class="" href="/quotation/lcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> LCL Quotation
						</a>
					</li>
				</ul>
			</li>
		</ul>

	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<br/>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Rate Requests</div>
						<div class="panel-body">
							<div class="container">

								<table  class="table table-striped table-bordered " id="example1" cellspacing="0">

									<thead>

											<tr>

													<th>Type</th>

													<th>Client Name</th>

													<th>Company Name</th>

													<th>Status</th>

													<th>Date</th>

											</tr>

									</thead>

									<tbody>
										{% for rate_request in rate_requests %}
										<tr>

												<th>{{rate_request.type}}</th>

												<th>{{rate_request.client.name}}</th>

												<th>{{rate_request.client.company_name}}</th>

												<th>{{rate_request.status}}</th>

												<th>{{rate_request.created_date}}</th>

										</tr>

										{% endfor %}

									</tbody>

									<tfoot>

											<tr>

												<th>Type</th>

												<th>Client Name</th>

												<th>Company Name</th>

												<th>Status</th>

												<th>Date</th>

											</tr>

									</tfoot>

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Quotations</div>
						<div class="panel-body">
							<div class="container">

								<table  class="table table-striped table-bordered " id="example2" cellspacing="0">

									<thead>

											<tr>

												<th>Type</th>

												<th>Client Name</th>

												<th>Company Name</th>

												<th>Status</th>

												<th>Date</th>

											</tr>

									</thead>

									<tbody>
										{% for quotation in quotations %}
										<tr>

												<th>{{quotation.type}}</th>

												<th>{{quotation.client.name}}</th>

												<th>{{quotation.client.company_name}}</th>

												<th>{{quotation.status}}</th>

												<th>{{quotation.created_date}}</th>

										</tr>

										{% endfor %}
									</tbody>

									<tfoot>

											<tr>

												<th>Type</th>

												<th>Client Name</th>

												<th>Company Name</th>

												<th>Status</th>

												<th>Date</th>

											</tr>

									</tfoot>

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>


						<script>
						    $(function () {
						        $('#hover, #striped, #condensed').click(function () {
						            var classes = 'table';

						            if ($('#hover').prop('checked')) {
						                classes += ' table-hover';
						            }
						            if ($('#condensed').prop('checked')) {
						                classes += ' table-condensed';
						            }
						            $('#table-style').bootstrapTable('destroy')
						                .bootstrapTable({
						                    classes: classes,
						                    striped: $('#striped').prop('checked')
						                });
						        });
						    });

						    function rowStyle(row, index) {
						        var classes = ['active', 'success', 'info', 'warning', 'danger'];

						        if (index % 2 === 0 && index / 2 < classes.length) {
						            return {
						                classes: classes[index / 2]
						            };
						        }
						        return {};
						    }
						</script>
					</div>
				</div>
			</div>
		</div><!--/.row-->


	</div><!--/.main-->


	<script>
		$(document).ready(function() {
				$('#example1').dataTable({
						"paging":  true,
						"ordering": true,
						"info":     true
				});

				$('#example2').dataTable({
						"paging":  true,
						"ordering": true,
						"info":     true
				});

				$('#example3').dataTable({
						"paging":  true,
						"ordering": true,
						"info":     true
				});
		});
	</script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){
				$(this).find('em:first').toggleClass("glyphicon-minus");
			});
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
</body>

</html>
