<div>
  <h1>Master Freight Proposed Offer</h1>
  <p>
    <span> Client Name:</span>
    <span> {{offer.quotation.rate_request.client.client_name}}</span>
  </p>
  <p>
    <span> Client Company Name:</span>
    <span> {{offer.quotation.rate_request.client.client_name}}</span>
  </p>
  <p>
    <span> AIRFREIGHT/KG:</span>
    <span> {{offer.air_quotation.air_freight_kg}}</span>
  </p>
  <p>
    <span> FUEL SUERCHARGE/KG:</span>
    <span>  {{offer.air_quotation.fuel_sur_charge_kg}}</span>
  </p>
  <p>
    <span> SECURITY FEES/KG:</span>
    <span>  {{offer.air_quotation.security_fees_kg}}</span>
  </p>
  <p>
    <span> EXW - CHARGES:</span>
    <span>  {{offer.air_quotation.exw_charges}}</span>
  </p>
  <p>
    <span> SCREENING FEES:</span>
    <span>  {{offer.air_quotation.screening_fees}}</span>
  </p>
  <p>
    <span> STORAGE:</span>
    <span>  {{offer.air_quotation.storage}}</span>
  </p>
  <p>
    <span> INLAND:</span>
    <span>  {{offer.air_quotation.inland}}</span>
  </p>
  <p>
    <span> PACKING:</span>
    <span>  {{offer.air_quotation.packing}}</span>
  </p>
  <p>
    <span> TAXES and DUTIES:</span>
    <span>  {{offer.air_quotation.taxes_duties}}</span>
  </p>
  <p>
    <span> HANDLING FEES:</span>
    <span>  {{offer.air_quotation.handling_fees}}</span>
  </p>
  <p>
    <span> OFFICIAL RECEIPTS:</span>
    <span> {{offer.air_quotation.official_receipts}}</span>
  </p>
  <p>
    <span> P SHARE:</span>
    <span>{{offer.air_quotation.p_share}}</span>
  </p>
  <p>
    <span> OTHER NOTES:</span>
    <span> {{offer.air_quotation.other_notes}}</span>
  </p>
  <p>
    <span> OFFER VALIDITY:</span>
    <span> {{offer.air_quotation.offer_validity}}</span>
  </p>
</div>
