<div>
  <h1>Master Freight Proposed Offer</h1>
  <p>
    <span> Client Name:</span>
    <span> {{offer.quotation.rate_request.client.client_name}}</span>
  </p>
  <p>
    <span> Client Company Name:</span>
    <span> {{offer.quotation.rate_request.client.client_name}}</span>
  </p>
  <p>
    <span> SHIPPING LINE:</span>
    <span> {{offer.sea_quotation.shipping_line}}</span>
  </p>
  <p>
    <span> T.H.C:</span>
    <span>  {{offer.sea_quotation.thc}}</span>
  </p>
  <p>
    <span> TRANSPORTATION:</span>
    <span>  {{offer.sea_quotation.transporation}}</span>
  </p>
  <p>
    <span> TRANSFER:</span>
    <span>  {{offer.sea_quotation.transfer}}</span>
  </p>
  <p>
    <span> CLEARANCE:</span>
    <span>  {{offer.sea_quotation.clearance}}</span>
  </p>
  <p>
    <span> B/L FEES:</span>
    <span>  {{offer.sea_quotation.bl_fees}}</span>
  </p>
  <p>
    <span> TELEX RELEASE:</span>
    <span>  {{offer.sea_quotation.telex_release}}</span>
  </p>
  <p>
    <span> FREE TIME AT DESTINATION:</span>
    <span>  {{offer.sea_quotation.free_time_at_destination}}</span>
  </p>
  <p>
    <span> VESSELS:</span>
    <span>  {{offer.sea_quotation.vessels}}</span>
  </p>
  <p>
    <span> PAYMENT CREDIT:</span>
    <span>  {{offer.sea_quotation.payment_credit}}</span>
  </p>
  <p>
    <span> OFFICIAL RECEIPTS:</span>
    <span> {{offer.sea_quotation.official_receipts}}</span>
  </p>
  <p>
    <span> OTHER NOTES:</span>
    <span> {{offer.sea_quotation.other_notes}}</span>
  </p>
  <p>
    <span> OFFER VALIDITY:</span>
    <span> {{offer.sea_quotation.offer_validity}}</span>
  </p>
  <h2>Track offer and shipment at <a href="www.masterfreight.org/track_offer/{{offer.reference}}">www.masterfreight.org/track_offer/{{offer.reference}}</a></h2>
</div>
