<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sales Dashboard</title>
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/styles.css" %}" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylsheet">
<script src="{% static "js/lumino.glyphs.js" %}"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/sales/"><span>Sales </span>Dashboard</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/settings/"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
							<li><a href="/logout/"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="/sales/"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tasks</a></li>
			<li><a href="/sales/workspace/"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Work Space</a></li>
			<li class="parent">
				<a data-toggle="collapse" href="#sub-item-1">
					<span><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> New Rate Request
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="/rate_request/aif/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Air Rate Request
						</a>
					</li>
					<li>
						<a class="" href="/rate_request/lcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> LCL Rate Request
						</a>
					</li>
					<li>
						<a class="" href="/rate_request/fcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> FCL Rate Request
						</a>
					</li>
					<li>
						<a class="" href="/rate_request/sales/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Sales Rate Request
						</a>
					</li>
				</ul>
			</li>
			<li class="parent active">
				<a data-toggle="collapse" href="#sub-item-2">
					<span><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> New Offer
				</a>
				<ul class="children expand" id="sub-item-2">
					<li>
						<a class="" href="/offer/air/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Offer to Client Air
						</a>
					</li>
					<li>
						<a class="" href="/offer/sea/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Offer to Client Sea
						</a>
					</li>
				</ul>
			</li>
		</ul>

		</div>

			<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
				<br/>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">Offer to Client Air</div>
								<div class="panel-body">
									<div class="container">

                    <form class="form-horizontal" role="form" method="post" action="/offer/new/">
                      <fieldset>
                      <!-- <h1 style="color:orange">Offer To Client <b>Air</b></h1> -->

                        <br>
                        <div class="container">
                          <!-- Text input-->
                          {% csrf_token %}
                          <input type="hidden" name="type" value="A">

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="client_name">Client Name</label>
                              <div class="col-sm-2">
                                <input id="client_name" name="client_name" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="company_name">Company Name</label>
                              <div class="col-sm-2">
                                <input id="company_name" name="company_name" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>


                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="contact">Contact</label>
                              <div class="col-sm-2">
                                <input id="contact" name="contact" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="phone">Phone</label>
                              <div class="col-sm-2">
                                <input id="phone" name="phone" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="email">E-mail</label>
                              <div class="col-sm-2">
                                <input id="email" name="email" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
                              <div class="col-sm-2">
                                <input id="extra_info" name="extra_info" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <br><br>

                          <h4 class="text-primary">Offer Details:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="airfreight">AIRFREIGHT/KG</label>
                              <div class="col-sm-2">
                                <input id="airfreight" name="airfreight" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="fuel_suercharge">FUEL SUERCHARGE/KG</label>
                              <div class="col-sm-2">
                                <input id="fuel_suercharge" name="fuel_suercharge" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="security_fees">SECURITY FEES/KG</label>
                              <div class="col-sm-2">
                                <input id="security_fees" name="security_fees" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="exw_charges">EXW - CHARGES</label>
                              <div class="col-sm-2">
                                <input id="exw_charges" name="exw_charges" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="screening_fees">SCREENING FEES</label>
                              <div class="col-sm-2">
                                <input id="screening_fees" name="screening_fees" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="storage">STORAGE</label>
                              <div class="col-sm-2">
                                <input id="storage" name="storage" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="inland">INLAND</label>
                              <div class="col-sm-2">
                                <input id="inland" name="inland" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="packing">PACKING</label>
                              <div class="col-sm-2">
                                <input id="packing" name="packing" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="taxes_n_duties">TAXES & DUTIES</label>
                              <div class="col-sm-2">
                                <input id="taxes_n_duties" name="taxes_n_duties" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="handling_fees">HANDLING FEES</label>
                              <div class="col-sm-2">
                                <input id="handling_fees" name="handling_fees" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="official_receipts">OFFICIAL RECEIPTS</label>
                              <div class="col-sm-2">
                                <input id="official_receipts" name="official_receipts" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="p_share">P/SHARE</label>
                              <div class="col-sm-2">
                                <input id="p_share" name="p_share" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="other_notes">OTHER NOTES</label>
                              <div class="col-sm-2">
                                <input id="other_notes" name="other_notes" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="offer_validity">OFFER VALIDITY</label>
                              <div class="col-sm-2">
                                <input id="offer_validity" name="offer_validity" type="text" placeholder="" class="form-control">
                              </div>
                            </div>
                          </div>

                          <br><br>

                          <b>TERMS:-</b>
                          <br><br>

                          <p>*   Freight(sea/air) Payable in Egypt and based on port to port basis. <br>
                            *  Surcharges mentioned are current and any additional surcharges shall be applicable at actual if any at the time of trade.  <br>


                  * Port Storage/Line demurrage/BL surrender fee shall be applicable at actual if any. <br>

                  * Subject to Space & Equipment availability. <br>

                  *  Booking is subject to commodity acceptance <br>

                  * Please advise 05 days prior to the shipment to arrange accordingly.  <br>

                  * Above rates shall be applicable on Prepaid basis Only.  <br>

                  * Transportation rates are not valid under areas where road restrictions and toll. <br>

                  *  Transportation  depends on pick up location- (----) hrs free time for stuffing after that charges applicable <br>

                  * PAYMENT TERMS:    As per agreement if any <br><br>
                  Hope the above meets your requirement and waiting for your positive reply.
                     </p>
                        </fieldset>
                         <input type="submit" value="Submit">
                      </form>
                  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

</html>
