<!DOCTYPE html>
<html>
<head>
 <title>Offer to Client-Air</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body class="container">

  <form class="form-horizontal" role="form">
    <fieldset>
    <h1 style="color:orange">Offer To Client <b>Air</b></h1>

      <br>
      <div class="container">
        <!-- Text input-->

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="file_referance">File Referance</label>
            <div class="col-sm-2">
              <input id="file_referance" name="file_referance" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>
        <br><br>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="client_name">Client Name</label>
            <div class="col-sm-2">
              <input id="client_name" name="client_name" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="company_name">Company Name</label>
            <div class="col-sm-2">
              <input id="company_name" name="company_name" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="contact">Contact</label>
            <div class="col-sm-2">
              <input id="contact" name="contact" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="phone">Phone</label>
            <div class="col-sm-2">
              <input id="phone" name="phone" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="email">E-mail</label>
            <div class="col-sm-2">
              <input id="email" name="email" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
            <div class="col-sm-2">
              <input id="extra_info" name="extra_info" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <br><br>

        <h4 class="text-primary">Offer Details:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="airfreight">AIRFREIGHT/KG</label>
            <div class="col-sm-2">
              <input id="airfreight" name="airfreight" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="fuel_suercharge">FUEL SUERCHARGE/KG</label>
            <div class="col-sm-2">
              <input id="fuel_suercharge" name="fuel_suercharge" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="security_fees">SECURITY FEES/KG</label>
            <div class="col-sm-2">
              <input id="security_fees" name="security_fees" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="exw_charges">EXW - CHARGES</label>
            <div class="col-sm-2">
              <input id="exw_charges" name="exw_charges" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="screening_fees">SCREENING FEES</label>
            <div class="col-sm-2">
              <input id="screening_fees" name="screening_fees" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="storage">STORAGE</label>
            <div class="col-sm-2">
              <input id="storage" name="storage" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="inland">INLAND</label>
            <div class="col-sm-2">
              <input id="inland" name="inland" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="packing">PACKING</label>
            <div class="col-sm-2">
              <input id="packing" name="packing" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="taxes_n_duties">TAXES & DUTIES</label>
            <div class="col-sm-2">
              <input id="taxes_n_duties" name="taxes_n_duties" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="handling_fees">HANDLING FEES</label>
            <div class="col-sm-2">
              <input id="handling_fees" name="handling_fees" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="official_receipts">OFFICIAL RECEIPTS</label>
            <div class="col-sm-2">
              <input id="official_receipts" name="official_receipts" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="p_share">P/SHARE</label>
            <div class="col-sm-2">
              <input id="p_share" name="p_share" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="other_notes">OTHER NOTES</label>
            <div class="col-sm-2">
              <input id="other_notes" name="other_notes" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="offer_validity">OFFER VALIDITY</label>
            <div class="col-sm-2">
              <input id="offer_validity" name="offer_validity" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <br><br>

        <b>TERMS:-</b>
        <br><br>

        <p>*   Freight(sea/air) Payable in Egypt and based on port to port basis. <br>
          *  Surcharges mentioned are current and any additional surcharges shall be applicable at actual if any at the time of trade.  <br>


* Port Storage/Line demurrage/BL surrender fee shall be applicable at actual if any. <br>

* Subject to Space & Equipment availability. <br>

*  Booking is subject to commodity acceptance <br>

* Please advise 05 days prior to the shipment to arrange accordingly.  <br>

* Above rates shall be applicable on Prepaid basis Only.  <br>

* Transportation rates are not valid under areas where road restrictions and toll. <br>

*  Transportation  depends on pick up location- (----) hrs free time for stuffing after that charges applicable <br>

* PAYMENT TERMS:    As per agreement if any <br><br>
Hope the above meets your requirement and waiting for your positive reply.
   </p>
      </fieldset>
       <input type="submit" value="Submit">
    </form>
  </body>
  </html>
