<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Operations Dashboard</title>
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/styles.css" %}" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylsheet">
<script src="{% static "js/lumino.glyphs.js" %}"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/sales/"><span>Operations </span>Dashboard</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/settings/"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
							<li><a href="/logout/"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div><!-- /.container-fluid -->
	</nav>

  <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li><a href="/operations/"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Work Space</a></li>
			<li><a href="/operations/tasks/"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tasks</a></li>
			<li class="parent active">
				<a data-toggle="collapse" href="#sub-item-1">
					<span><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> New Quotation
				</a>
				<ul class="children expand" id="sub-item-1">
					<li>
						<a class="" href="/quotation/aif/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> AIF Quotation
						</a>
					</li>
					<li>
						<a class="" href="/quotation/fcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> FCL Quotation
						</a>
					</li>
					<li>
						<a class="" href="/quotation/lcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> LCL Quotation
						</a>
					</li>
				</ul>
			</li>
		</ul>

	</div><!--/.sidebar-->

			<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
				<br/>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">Quotation-LCL</div>
								<div class="panel-body">
									<div class="container">
                    <form class="form-horizontal" role="form" method="post" action="/quotation/new/">
                      <fieldset>
                        <br>
                        <div class="container">
                          <!-- Text input-->
                          {% csrf_token %}
                          <input type="hidden" name="type" value="LCL">

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="client_name">Client Name</label>
                              <div class="col-sm-2">
                            <p></p>
                              </div>
                            </div>
                          </div>


                          <h4 class="text-primary">Details:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="company_name">Company Name</label>
                              <div class="col-sm-2">
                                <p></p>
                              </div>
                            </div>
                          </div>


                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="contact">Contact</label>
                              <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="phone">Phone</label>
                              <div class="col-sm-2">
                              <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="email">E-mail</label>
                              <div class="col-sm-2">
                               <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
                              <div class="col-sm-2">
                              <p></p>
                              </div>
                            </div>
                          </div>

                          <br><br>


                          <h4 class="text-primary">Destination:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="port_of_loading">Port of Loading</label>
                              <div class="col-sm-2">
                             <p></p>
                              </div>
                              <label class="col-sm-2 control-label" for="location_type_loading">Location Type</label>
                              <div class="col-sm-2">
                                   <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="port_of_discharge">Port of Discharge</label>
                              <div class="col-sm-2">
                               <p></p>                              </div>
                              <label class="col-sm-2 control-label" for="discharge_location_type">Location Type</label>
                              <div class="col-sm-2">
                             <p></p>
                              </div>
                            </div>
                          </div>

                          <br><br>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="agent_details">Agent Details</label>
                              <div class="col-sm-2">
                                <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="co_loader">Co-Loader</label>
                              <div class="col-sm-2">
                             <p></p>
                              </div>
                            </div>
                          </div>

                          <br><br>


                          <h4 class="text-primary">Cargo Details:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="shipping_line">Shipping Line</label>
                              <div class="col-sm-2">
                              <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="container_type">Container Type</label>
                              <div class="col-sm-2">
                              <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="no_of_packages">Number of Packages</label>
                              <div class="col-sm-2">
                               <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="commodity">Commodity</label>
                              <div class="col-sm-2">
                                <p></p>
                              </div>
                            </div>
                          </div>



                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="gross_weight">Gross Weight</label>
                              <div class="col-sm-2">
                               <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="net_weight">Net Weight</label>
                              <div class="col-sm-2">
                               <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="dimensions_cbm">Dimensions/CBM</label>
                              <div class="col-sm-2">
                            <p></p>
                              </div>
                            </div>
                          </div>

                          <br><br>


                          <div class ="row">
                            <h4 class="text-primary col-sm-1">Quotation:</h4>
                            <label class="col-sm-2 control-label" for="">Net Cost</label>
                            <label class="col-sm-2 control-label" for="">Selling</label>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="ocean_freight">OCEAN FREIGHT</label>
                              <div class="col-sm-2">
                                   <p></p>
                              </div>
                              <div class="col-sm-2">
                                  <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="thc">T.H.C</label>
                              <div class="col-sm-2">
                           <p></p>
                              </div>
                              <div class="col-sm-2">
                                 <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="transportation">TRANSPORTATION</label>
                              <div class="col-sm-2">
                                <p></p>
                              </div>
                              <div class="col-sm-2">
                              <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="transfer">TRANSFER</label>
                              <div class="col-sm-2">
                                   <p></p>
                              </div>
                              <div class="col-sm-2">
                                  <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="clearance_pol">CLEARANCE/P.O.L</label>
                              <div class="col-sm-2">
                              <p></p>
                              </div>
                              <div class="col-sm-2">
                                   <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="clearance_pod">CLEARANCE/P.O.D</label>
                              <div class="col-sm-2">
                           <p></p>
                              </div>
                              <div class="col-sm-2">
                              <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="bl_fees">B/L FEES</label>
                              <div class="col-sm-2">
                             <p></p>
                              </div>
                              <div class="col-sm-2">
                                <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="telex_release">TELEX RELEASE</label>
                              <div class="col-sm-2">
                                <p></p>
                              </div>
                              <div class="col-sm-2">
                                <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="ex_work">EX-WORK</label>
                              <div class="col-sm-2">
                                <p></p>
                              </div>
                              <div class="col-sm-2">
                                <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="official_receipts">OFFICIAL RECEIPTS</label>
                              <div class="col-sm-2">
                               <p></p>
                              </div>
                              <div class="col-sm-2">
                                <p></p>
                              </div>
                            </div>
                          </div>

                          <br><br>

                          <h4 class="text-primary">Extra Notes:</h4>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="free_time_destination">Free Time at Destination</label>
                              <div class="col-sm-2">
                             <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="vessels_available">Vessels Available</label>
                              <div class="col-sm-2">
                               <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="route">Route</label>
                              <div class="col-sm-2">
                               <p></p>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="transit_time">Transit Time</label>
                              <div class="col-sm-2">
                               <p></p>
                              </div>
                            </div>
                          </div>



                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="offer_validity">Offer Validity</label>
                              <div class="col-sm-2">
                                <p></p>
                              </div>
                            </div>
                          </div>



                          <br><br>


                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="special_instructions">Special Instructions</label>
                              <div class="col-sm-4">
                               <p></p>
                              </div>
                            </div>
                          </div>


                        </fieldset>

                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>

  </html>
