<!DOCTYPE html>
<html>
<head>
 <title>Air Freight Quotations</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body class="container">

  <form class="form-horizontal" role="form">
    <fieldset>
<h1 style="color:orange">Quotation-Air <b>Operations</b></h1>
      <br>
      <div class="container">
        <!-- Text input-->

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="sales_person">Operation</label>
            <div class="col-sm-2">
              <p></p>
            </div>
            <label class="col-sm-2 control-label" for="date">Date</label>
            <div class="col-sm-2">
                 <p></p>
            </div>
          </div>
        </div>

        <br><br>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="client_name">Client Name</label>
            <div class="col-sm-2">
                <p></p>
            </div>
          </div>
        </div>


        <h4 class="text-primary">Details:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="company_name">Company Name</label>
            <div class="col-sm-2">
               <p></p>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="contact">Contact</label>
            <div class="col-sm-2">
                 <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="phone">Phone</label>
            <div class="col-sm-2">
<p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="email">E-mail</label>
            <div class="col-sm-2">
                <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="extra_info">Extra Information</label>
            <div class="col-sm-2">
                <p></p>
            </div>
          </div>
        </div>

        <br><br>

        <h4 class="text-primary">Destination:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="port_of_loading">Port of Loading</label>
            <div class="col-sm-2">
             <p></p>
            </div>
            <label class="col-sm-2 control-label" for="location_type_loading">Location Type</label>
            <div class="col-sm-2">
                <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="port_of_discharge">Port of Discharge</label>
            <div class="col-sm-2">
               <p></p>
            </div>
            <label class="col-sm-2 control-label" for="location_type_discharge">Location Type</label>
            <div class="col-sm-2">
             <p></p>
            </div>
          </div>
        </div>

        <br><br>


        <h4 class="text-primary">Cargo Details:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="commodity">Commodity</label>
            <div class="col-sm-2">
             <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="no_of_packages">Number of Packages</label>
            <div class="col-sm-2">
                <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="actual_weight">Actual Weight</label>
            <div class="col-sm-2">
                <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="chargeable_weight">Chargeable Weight</label>
            <div class="col-sm-2">
               <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="dimensions">Dimensions</label>
            <div class="col-sm-2">
            <p></p>
            </div>
          </div>
        </div>



        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="air_line">Air-Line</label>
            <div class="col-sm-2">
                 <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="transit_date">Transit Time</label>
            <div class="col-sm-2">
         <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="route">Route</label>
            <div class="col-sm-2">
              <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="departure_date">Departure Date</label>
            <div class="col-sm-2">
             <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="arrival_date">Arrival Date</label>
            <div class="col-sm-2">
              <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="mawb">MAWB - Number</label>
            <div class="col-sm-2">
               <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="hawb">HAWB - Number</label>
            <div class="col-sm-2">
            <p></p>
            </div>
          </div>
        </div>

        <br><br>


        <div class ="row">
          <h4 class="text-primary col-sm-1">Quotation:</h4>
          <label class="col-sm-2 control-label" for="">Net Cost</label>
          <label class="col-sm-2 control-label" for="">Selling</label>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="airfreight">AIRFREIGHT/KG</label>
            <div class="col-sm-2">
             <p></p>
            </div>
            <div class="col-sm-2">
              <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="fuel_suercharge">FUEL SURCHARGE/KG</label>
            <div class="col-sm-2">
      <p></p>
            </div>
            <div class="col-sm-2">
               <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="security_fees">SECURITY FEES/KG</label>
            <div class="col-sm-2">
                 <p></p>
            </div>
            <div class="col-sm-2">
                <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="exw_charges">EXW - CHARGES</label>
            <div class="col-sm-2">
                 <p></p>
            </div>
            <div class="col-sm-2">
              <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="screening_fees">SCREENING FEES</label>
            <div class="col-sm-2">
              <p></p>
            </div>
            <div class="col-sm-2">
             <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="storage">STORAGE</label>
            <div class="col-sm-2">
               <p></p>
            </div>
            <div class="col-sm-2">
              <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="inland">INLAND</label>
            <div class="col-sm-2">
             <p></p>
            </div>
            <div class="col-sm-2">
           <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="packing">PACKING</label>
            <div class="col-sm-2">
             <p></p>
            </div>
            <div class="col-sm-2">
              <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="taxes_n_duties">TAXES & DUTIES</label>
            <div class="col-sm-2">
                <p></p>
            </div>
            <div class="col-sm-2">
              <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="handling_fees">HANDLING FEES</label>
            <div class="col-sm-2">
           <p></p>
            </div>
            <div class="col-sm-2">
             <p></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="p_share">P/SHARE</label>
            <div class="col-sm-2">
               <p></p>
            </div>
            <div class="col-sm-2">
            <p></p>
            </div>
          </div>
        </div>

        <br><br>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="special_instructions">Special Instructions</label>
            <div class="col-sm-4">
               <p></p>
            </div>
          </div>
        </div>


      </fieldset>
      
    </form>
  </body>
  </html>
