<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Admin Dashboard</title>
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/styles.css" %}" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylsheet">
<script src="{% static "js/lumino.glyphs.js" %}"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/admin/"><span>Admin </span>Dashboard</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/settings/"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
							<li><a href="/logout/"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li><a href="/admin/"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Work Space</a></li>
			<li><a href="/admin/tasks/"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tasks</a></li>
			<li><a href="/admin/employees/"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Employees Management</a></li>
			<li><a href="/admin/charts/"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Charts</a></li>
			<li class="parent active">
				<a data-toggle="expand" href="#sub-item-1">
					<span><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> New Rate Request
				</a>
				<ul class="children expand" id="sub-item-1">
					<li>
						<a class="" href="/rate_request/aif/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Air Rate Request
						</a>
					</li>
					<li>
						<a class="" href="/rate_request/lcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> LCL Rate Request
						</a>
					</li>
					<li>
						<a class="" href="/rate_request/fcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> FCL Rate Request
						</a>
					</li>
					<li>
						<a class="" href="/rate_request/sales/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Sales Rate Request
						</a>
					</li>
				</ul>
			</li>
			<li class="parent ">
				<a data-toggle="collapse" href="#sub-item-2">
					<span><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> New Quotation
				</a>
				<ul class="children collapse" id="sub-item-2">
					<li>
						<a class="" href="/quotation/aif/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Quotations AIR
						</a>
					</li>
					<li>
						<a class="" href="/quotation/fcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Quotations FCL
						</a>
					</li>
					<li>
						<a class="" href="/quotation/lcl/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Quotations LCL
						</a>
					</li>
				</ul>
			</li>
			<li class="parent ">
				<a data-toggle="collapse" href="#sub-item-3">
					<span><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> New Offer
				</a>
				<ul class="children collapse" id="sub-item-3">
					<li>
						<a class="" href="/offer/air/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Offer to Client Air
						</a>
					</li>
					<li>
						<a class="" href="/offer/sea/new/">
							<svg class="glyph stroked chevron-right"><use xlink:href=""></use></svg> Offer to Client Sea
						</a>
					</li>
				</ul>
			</li>
		</ul>

	</div><!--/.sidebar-->

			<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
				<br/>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">LCL Rate Request</div>
								<div class="panel-body">
									<div class="container">

                    <form class="form-horizontal" role="form" method="post" action="/rate_request/new/">
                      <fieldset>
                        <br>
                        <div class="container">
                          <!-- Text input-->
                          {% csrf_token %}
                          <input type="hidden" name="type" value="LCL">
                         

                       <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="company_name">Company Name:</label>  
            <div class="col-sm-2">
              <input id="company_name" name="company_name" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

      

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="address">Address: </label>
            <div class="col-sm-4">
              <textarea class="form-control" id="address" name="address"></textarea>
            </div>
          </div>
        </div>

        <h4 class="text-primary">Operation Contact Details:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="name">Name:</label>  
            <div class="col-sm-2">
              <input id="name" name="name" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="phone">Phone:</label>  
            <div class="col-sm-2">
              <input id="phone" name="phone" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="name">Email:</label>  
            <div class="col-sm-2">
              <input id="email" name="email" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <h4 class="text-primary">Accounting Contact Details:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="name_accounting">Name:</label>  
            <div class="col-sm-2">
              <input id="name_accounting" name="name_accounting" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="phone_accounting">Phone:</label>  
            <div class="col-sm-2">
              <input id="phone_accounting" name="phone_accounting" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="email_accounting">Email:</label>  
            <div class="col-sm-2">
              <input id="email_accounting" name="email_accounting" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>



        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="payment_terms">Payment Terms</label>  
            <div class="col-sm-4">
              <textarea class="form-control" id="payment_terms" name="payment_terms"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="special_requirements">Special Requirements</label>  
            <div class="col-sm-4">
              <textarea class="form-control" id="special_requirements" name="special_requirements"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="other_notes">Other Notes</label>  
            <div class="col-sm-4">
              <textarea class="form-control" id="other_notes" name="other_notes"></textarea>
            </div>
          </div>
        </div>
													<hr/>
                        </fieldset>
                         <input type="submit" value="Submit">
                      </form>
                  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

</html>
