<!DOCTYPE html>
<html>
<head>
 <title>Trucker Account</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body class="container">

  <form class="form-horizontal" role="form">
    <fieldset>

      <br>
      <div class="container">
        <!-- Text input-->

        <h2 align="center">Trucker Application</h2>
        <br><br>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="company_name">Company Name:</label>  
            <div class="col-sm-2">
              <input id="company_name" name="company_name" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

      

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="address">Address: </label>
            <div class="col-sm-4">
              <textarea class="form-control" id="address" name="address"></textarea>
            </div>
          </div>
        </div>

        <h4 class="text-primary">Operation Contact Details:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="name">Name:</label>  
            <div class="col-sm-2">
              <input id="name" name="name" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="phone">Phone:</label>  
            <div class="col-sm-2">
              <input id="phone" name="phone" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="name">Email:</label>  
            <div class="col-sm-2">
              <input id="email" name="email" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <h4 class="text-primary">Accounting Contact Details:</h4>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="name_accounting">Name:</label>  
            <div class="col-sm-2">
              <input id="name_accounting" name="name_accounting" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="phone_accounting">Phone:</label>  
            <div class="col-sm-2">
              <input id="phone_accounting" name="phone_accounting" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="email_accounting">Email:</label>  
            <div class="col-sm-2">
              <input id="email_accounting" name="email_accounting" type="text" placeholder="" class="form-control">
            </div>
          </div>
        </div>



        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="payment_terms">Payment Terms</label>  
            <div class="col-sm-4">
              <textarea class="form-control" id="payment_terms" name="payment_terms"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="special_requirements">Special Requirements</label>  
            <div class="col-sm-4">
              <textarea class="form-control" id="special_requirements" name="special_requirements"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="col-sm-2 control-label" for="other_notes">Other Notes</label>  
            <div class="col-sm-4">
              <textarea class="form-control" id="other_notes" name="other_notes"></textarea>
            </div>
          </div>
        </div>
        


      </fieldset>
    </form>
  </body>
  </html>
