{% extends './base.html' %}

{% block content %}
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Add Port </div>
				<div class="panel-body">

					<form class="form-horizontal" role="form" method="post" action="/trucker_offer/new/">
						<fieldset>
							<br>
							<!-- Text input-->
							{% csrf_token %}
							<div class="form-group">
								<div class="row">
									<label class="col-sm-2 control-label" for="client">Port 1</label>
									<div class="col-sm-2">
										<select id="port_1_select" class=" form-control" name="port_1">
											{% for port in ports %}
											<option value="{{ port.id }}">{{ port }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label class="col-sm-2 control-label" for="client">Port 2</label>
									<div class="col-sm-2">
										<select id="port_2_select" class=" form-control" name="port_2">
											{% for port in ports %}
											<option value="{{ port.id }}">{{ port }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label class="col-sm-2 control-label" for="client">Trucker</label>
									<div class="col-sm-2">
										<select id="trucker_select" class=" form-control" name="trucker">
											{% for trucker in truckers %}
											<option value="{{ trucker.id }}">{{ trucker }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label class="col-sm-2 control-label" for="special_requirements">Special Requirements</label>
									<div class="col-sm-2">
										<input id="special_requirements" name="special_requirements" type="text" placeholder="" class="form-control">
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label class="col-sm-2 control-label" for="other_notes">Other Notes</label>
									<div class="col-sm-2">
										<input id="other_notes" name="other_notes" type="text" placeholder="" class="form-control">
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label class="col-sm-2 control-label" for="price">Price</label>
									<div class="col-sm-2">
										<input id="price" name="price" type="text" placeholder="" class="form-control">
									</div>
								</div>
							</div>
							<hr/>
						</fieldset>
						<input type="submit" value="Submit">
					</form>

				</div>
			</div>
		</div>
{% endblock %}
